.blog__list {
  overflow: hidden;
  padding: 5px;
}
.blog__list:after {
  content: '';
  display: table;
  clear: both;
}
.blog__list_top:after, .blog__list_social:after {
  content: '';
  display: table;
  clear: both; }

.blog__list_item {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); }

.blog__list_item {
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  margin: 30px 0;
  overflow: hidden; }
  .blog__list_item a:hover {
    text-decoration: none; }

.blog__list_top {
  line-height: 1;
  vertical-align: bottom;
  text-align: left;
  margin-bottom: 15px; }
.blog__list_top:after {
  content: '';
  display: table;
  clear: both;
}

.blog__list_category {
  font-weight: 500;
  text-transform: uppercase;
  float: left;
  margin-right: 15px; }

.blog__list_date {
  color: #a1b2ba;
  font-size: 12px;
  float: right;
  padding-top: 3px; }

.blog__list_title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 8px;
  color: #222; }
  .blog__list_title:hover {
    color: #222; }

.blog__list_short {
  text-align: left;
  font-size: 15px;
  margin-bottom: 15px;
  color: #222; }
  .blog__list_short:hover {
    color: #222; }

  .blog__list img {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 15px; 
    display: block;
    width: initial;
    max-width: 108%;
    min-width: 108%; }

.blog__list_social:after {
  content: '';
  display: table;
  clear: both;
}

.blog__list_social-item {
  color: #a1b2ba;
  font-size: 14px;
  float: left;
  margin-right: 15px; }
  .blog__list_social-item--right {
    float: right;
    margin-right: 0; }
  .blog__list_social-item .fa {
    font-size: 16px;
    vertical-align: baseline;
    display: inline-block;
    margin-right: 5px; }

.blog__aside {
  float: right;
  margin-top: 30px;
  margin-left: 15px;
  // -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 1024px) {
  .blog__list {
    overflow: initial;
    clear: both;
  }
  .blog__list_item {
    padding: 15px; }
  .blog__list_img {
    margin-left: -15px;
    margin-right: -15px; }
  .blog__list_top {
    margin-bottom: 10px; }
  .blog__list_category {
    font-size: 28px; }
  .blog__list_date {
    font-size: 20px;
    padding-top: 4px; }
  .blog__list_title {
    font-size: 38px; }
  .blog__list_short {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 22px; }
  .blog__list_social-item {
    font-size: 26px;
    margin-right: 10px; }
    .blog__list_social-item .fa {
      font-size: 32px;
      margin-right: 2px; } 
  .blog__aside {
    margin-left: 0;
    float: none;
    margin-top: 140px; }
}

.tags {
  background-color: #fff;
  padding: 15px 15px 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); 
  margin-bottom: 15px;
  border-radius: 6px; }
  .tags__list {
    width: 239px;
    text-align: left;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: -5px;
    margin-right: -5px; }
  .tags__title {
    color: #959595;
    text-align: left;
    margin-bottom: 15px; }
  .tags__item {
    display: inline-block;
    margin: 0 5px 10px;
    padding: 7px;
    border-radius: 5px;
    color: #222222;
    font-size: 14px;
    background-color: #ffe9ee; }
    .tags__item:before {
      content: '#'; }
    .tags__item:hover {
      text-decoration: none;
      background-color: #ffc0ce; }
    .tags__item--danger {
      background-color: #e58440;
      color: #fff; }
      .tags__item--danger:hover {
        background-color: #de6d1e; }
    .tags__item--warning {
      background-color: #4c4c4c;
      color: #fff; }
      .tags__item--warning:hover {
        background-color: #383838; }
  @media (max-width: 1024px) {
    .tags {
      display: inline-block;
      vertical-align: top;
    }
    .tags__list {
     /*  width: initial; */ 
    }
    .tags__title {
      font-size: 14px;
    }
    .tags__item {
      margin: 0 3px 0px;
      padding: 5px;
      line-height: 1;
      font-size: 14px;
    }
  }
  // @media (max-width: 767px) {
  //   .tags__item {
  //     font-size: 12px; } }

.social__widget {
  margin-bottom: -15px; }
  .social__widget_wrap {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
    margin-bottom: 15px; }
    .social__widget_wrap iframe {
      text-align: center; }
  @media (max-width: 1024px) {
    .social__widget_wrap {
      display: inline-block; } }
  // @media (max-width: 767px) {
  //   .social__widget {
  //     text-align: center; } }
