@font-face{
	font-family: 'Roboto';
	font-weight: 300;
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face{
	font-family: 'Roboto';
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face{
	font-family: 'Roboto';
	font-weight: 500;
	src: url('../fonts/Roboto-Medium.ttf');
}
@font-face{
	font-family: 'Roboto';
	font-weight: 700;
	src: url('../fonts/Roboto-Bold.ttf');
}

*,p,a,button,input{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	font-weight: 300;
    font-size: 15px;
	text-align: center;
	text-decoration: none !important;
    outline: none !important;
    position: relative;
    	
}
body{
    min-height: 100vh;

}
.container-fluid,.row,.col-sm-12{
	padding: 0;
	margin: 0;
}
/*цвета*/
@my-gray:#f2f3f5;
@my-green:#04be5b;
@my-orange:#03a9ff;
@my-blue:#03a9ff;
@my-violet:#6052c6;
@login:#4886ff;
@vk:#446dab;

/*цвет placeholder*/
::-webkit-input-placeholder{
	color:#ddd;
	font-weight: 300;
}
::-moz-placeholder{
	color:#ddd;
	font-weight: 300;
}
:-moz-placeholder{
	color:#ddd;
	font-weight: 300;
}
:-ms-input-placeholder{
	color:#ddd;
	font-weight: 300;
}

/*~~~~КОМПОНЕНТЫ~~~~*/
.bcgr{
    background-position: center;
    background-repeat: no-repeat;
}
.shadow{
-webkit-box-shadow: -30px 30px 80px -15px rgba(200,201,203,0.8);
-moz-box-shadow: -30px 30px 80px -15px rgba(200,201,213,0.8);
box-shadow: -30px 30px 80px -15px rgba(200,201,203,0.8);
}
/*кнопки*/
.button{
    width: 80%;
	text-decoration: none;
	outline: none;
	border:0;
	border-radius: 3px;
	background: @my-green;
	padding: 15px 0;

	color: #fff;
	font-weight: 300;
	cursor: pointer;
	line-height: 1;
	
	&:hover{
		background: darken(@my-green,5%);	
		color: #fff;
	}
	/*кнопки с закруглениями*/
	&.curve{
        width: inherit;
		border-radius: 25px;
		padding: 13px 30px;
	}
	/*белая кнопка*/
	&.white{
		color: @my-green;
		font-weight: 400;
		background: #fff;
		border: 1px solid @my-green;	
        
        &:hover{
            background: @my-green;
            color: #fff;
        }
	}

	/* кнопки входа из сторонних сервисов*/
	&.through{
		border-radius: 0 3px 3px 0;
        padding-left: 45px;
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 25px !important;
        &:last-child{
            margin-bottom: 0px !important;
        }
		
		
		&::before{
			content: '';
			position: absolute;
			left: 0px;
			top: 0; 
			width: 45px;
			height: 100%;
			border-radius: 3px 0 0 3px;
		}
		
	}
	
	&.google::before,&.google:hover{
			background: darken(@login,5%);
		}
	&.google{
		background: @login;			
	}
	
	&.vk::before,&.vk:hover{
			background: darken(@vk,5%);
		}
	&.vk{
		background: @vk;			
	}
}

/*форма регистрации/входа*/
.form{
	display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 160px;
	background: #fff;
	padding: 35px 0px;
	border-radius: 3px;
	z-index: 100;
    
    .form__title{
        width: 80%;
        font-size: 40px;
		text-align: left !important;
        margin: 0 auto;
		margin-bottom: 25px;
    }
    div{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 100%;
            right: 0;
            top: 0;
            background-size: 30%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/icon/gray-arrow.png);
            
        }
    }
    
    .input, .select{ 
        width: 100%;
        text-align: left;
        line-height: 1;
        padding: 12.5px 0 12.5px 50px;
        outline: none;		
        border:1px solid #ddd;
        border-radius: 3px;	
        box-sizing: border-box;
        
        & ~ p{
            position: absolute;
            text-align: left;
        }
        
        & + label{
            position: absolute;
            left: 0px;
            top: 0; 
            width: 45px;
            height: 100%;
            border-radius: 3px 0 0 3px;
            border:1px solid #ddd;
            cursor: pointer;
            background: #fff;
            box-sizing: border-box;
		}  
    }
    .select{
        padding: 14px 0 14px 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #ddd;
        background: rgba(0,0,0,0);
        
    }
    .lose{
        display: flex;
    	justify-content: space-between;
    	align-items: center;
        margin-bottom: 15px;
		
        a:not(.button){
            text-align: left;
            float: left;
            color: #bbb;
            
        }
        .button{
            width: 35%;
            margin: 0;
            float: right;
        }
    }
    
    .or{
        width: 80%;
        color: #bbb; 
        margin: 0 auto;
        margin-bottom: 25px;
        box-sizing: border-box;
        
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 40%;
            height: 1px;
            border-bottom: 1px dashed #bbb;
        }
        
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 40%;
            height: 1px;
            border-bottom: 1px dashed #bbb;
        }
    }
    
    .big{
        margin: 0 auto;
        Sbox-sizing: border-box;
        background: @my-blue;
        &:hover{
		    background: darken(@my-blue,5%);
		}
       
    }
    .button{
        margin: 0 auto;
    }
	
	
    
    
	.form__lose{
		float: left;
		padding-top: 13px;
		color: #ccc;
	}
	.form__or{
		color: #ccc;
		background: #fff;
		&::after,&::before{
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			width: 40%;
			height: 1px;
			border-bottom: 1px dashed #ccc;
		}
		&::before{			
			left: 0;			
		}
	}
	
    /*формы ввода данных*/
    .select{
        
    }
    
}
.modal-content{
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    
     div{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 100%;
            right: 0;
            top: 0;
            background-size: 30%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/icon/gray-arrow.png);
            
        }
    }
    
    .input, .select{ 
    width: 100%;
    text-align: left;
    line-height: 1;
    padding: 12.5px 10px;
    outline: none;		
    border:1px solid #ddd;
    border-radius: 3px;	
    box-sizing: border-box;

    & ~ p{
        position: absolute;
        text-align: left;
    }

    
}
    .select{
        padding: 14px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #ddd;
        background: rgba(0,0,0,0);

    }   
    .button{
        margin: 0 auto;
    }
}


/*форма обратной связи*/
.feedback__form{
    display: flex;
    justify-content: space-around;
    background: @my-green;
    padding: 40px 2%;
    border-radius: 35px;
    z-index: 100;

    
    div{
        width: 25%;
        
        &::before{
            content: '';
            position: absolute;
            margin-top: -9px;
            font-size: 12px;
            color: #fff;
            font-weight: 300;
        }
        &:nth-child(1)::before{
            content: 'Имя';
        }
        &:nth-child(2)::before{
            content: 'Телефон';
        }
        &:nth-child(3)::before{
            content: 'Предметы';
        }
    }
	
	
    input[type="checkbox"]{
        display: none;
    }
    input{
        
        width: ~'calc(100% - 48px);';
        background: rgba(0,0,0,0);
        border: 0;
        border-bottom: 1px solid #fff;
        padding: 8px 0;
        text-align: left;
        color: #fff;
    }
    select{
        width: ~'calc(100% - 48px);';
        background: rgba(0,0,0,0);
        border: 0;
        border-bottom: 1px solid #fff;
        padding: 9px 0;
        text-align: left;
        color: #fff;
		cursor: pointer;
        
		background-image: url(../img/icon/arrow.png);
		background-position: right;
		background-repeat: no-repeat;
		background-size: 12px;
		
        font-size: 14px;
        font-weight: 300;
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
		
		option{
			background: lighten(@my-green,5%);
			font-weight: 300;
		}
    }
    
    label{
        float: left;
        left: 0;
        background-size: 40%; 
        width: 40px;
        margin-right: 5px;
        margin-top: -2px;
        height: 100%;
        
    }
    label[for="name"]{
        background-image: url(../img/icon/user.png);
        .bcgr;
    }
    label[for="phone"]{
        background-image: url(../img/icon/phone.png);
        .bcgr;
    }
    label[for="book"]{
        background-image: url(../img/icon/book.png);
        .bcgr;
    }
    
    a{
        position: absolute;
        bottom: -50px;
        left: 0;
        font-size: 13px;
        color: #333;
    }
    
    .button:hover{
        background: fadeout(#fff, 10%);
        color: @my-green; 
    }
    
    /*цвет placeholder*/
    ::-webkit-input-placeholder{
        color:#fff;
        font-size: 14px;
        font-weight: 300;
    }
    ::-moz-placeholder{
        color:#fff;
        font-size: 14px;
        font-weight: 300;
    }
    :-moz-placeholder{
        color:#fff;
        font-size: 14px;
        font-weight: 300;
    }
    :-ms-input-placeholder{
        color:#fff;
        font-size: 14px;
        font-weight: 300;
    }
}

/*заголовок*/
p.title{
	font-size: 48px;
	font-weight: 300;
    margin-bottom: 40px;
	
	&::after{
		content: '';
		position: absolute;
		width: 40px;
		height: 3px;
		background: @my-green;
		bottom: 0px;
		left: ~'calc(50% - 20px);';
		border-radius: 2px;
		
	}
    span{
        font-weight: 400;
        font-size: inherit;
    }
	
}

/*header*/
header{
	position: fixed;
	z-index: 1000;
	width: 100%;	
	left: 0;
	top: 0;
	background: #fff;
	padding: 5px 20px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	.header{
		display: flex;
		align-items: center;
		
	}
	
	.logo{
		background-image: url(../img/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 60px;
		height: 60px;
		
	}
	a{
		font-size: 13px;
		font-weight: 500;
		color: #333;
		margin-left: 25px;
		padding: 20px 0;
		
		
		&.active{
			color: @my-green;
		}
		&:hover{
			color: lighten(#333,25%); 
		}
	}
	.button{
		
		font-weight: 500;
		margin-left: 40px;
		
		&::before{
			content: '';
			position: absolute;
			height: 100%;
			width: 1px;
			left: -20px;
			top: -2px;
			background: @my-gray;
			padding: 2px 0;
		}
	}
}

/*мобильный header*/
header.mob{
	display: none;
	position: fixed;
	z-index: 1000;
    width: 100%;
    box-sizing: border-box;
	left: 0;
	top: 0;
	background: #fff;
	padding: 5px 20px;
	
	
	justify-content: space-between;
	align-items: center;
	
	input[type="checkbox"]{
		position: absolute;
		z-index: 0;
		display: none;
	}
	input:checked ~ .header__mob{
		height: ~'calc(100vh - 100px);';
    	max-height: 500px;
		opacity: 1;
		padding: 20px 0;
		transition: 0.1s;
	}
	input:checked ~ label{
		background-image: url(../img/icon/burger-green.png);
	}
	
	label{
		width: 100px;
		height: 100px;
		background-image: url(../img/icon/burger.png);
		background-position: center;
		background-size: 80%;
		background-repeat: no-repeat;
	}
	
	.header__mob{
		display: flex;
		flex-direction: column;
		justify-content:space-around;
		align-items: center;
		position: fixed;
		top:105px;
		left: 0;
		width: 100%;
		margin: 0;
		background: #fff;
		overflow-y: hidden;
		padding: 0;
		height: 0px;
		  
		box-sizing: border-box;
		transition: 0.1s;
		
		a{
			margin: 0;
			font-size: 30px;
			padding: 0;
			
			&.active{
			color: @my-green;
			}
			&:hover{
				color: lighten(#333,25%); 
			}
		}
		
	}
	
	.logo{
		background-image: url(../img/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
		
	}
	
	.button{
		margin-left: 0px !important;
		&::before{
			display: none;
		}
	}
}

/*footer*/
footer{
    width: 100%;
    padding: 0 11.5%;
    margin: 0 auto;
    margin-top: 130px;
    z-index: 2;
    line-height: 1.8;
    box-sizing: border-box;
    
    .feedback__form {
        z-index: 100;
        bottom: 100px;
    }
    
    .arc{
        height: 185px;
    }
}

/*серая дуга footer*/
.arc {
	position: absolute;
	width: 100%;
	bottom: 0;
    left: 0;
	height: 18vh;
	background: @my-gray;
	border-radius: ~'100% / 70%;';
	
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		background: #f2f3f5;
		bottom: 0;
		left: 0;
	}
}

.section{
	width: 77%;
	z-index: 2;
    line-height: 1.8;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 30px;
}


/*~~~~СТРАНИЦЫ~~~~*/

/*home*/
.home__main{
	margin-top: 150px;
    p{
	text-align: left;
	}
	.title{
		line-height: 1.0;
		margin-top: 70px;
		white-space: nowrap;
		&::after{
			display: none;
		}
	}
	.text{
		margin-bottom: 130px;
		
		span{
            font-size: inherit;
			background: @my-gray;
			padding:3px 11px;
			border-radius: 15px;
			color: @my-green;
		}
	}
    
    .home__scroll{
        width: 32px;
        height: 55px;
        margin: 0 auto;
        margin-top: 100px;
        border: 1px solid @my-green;
        border-radius: 20px;
        
        &::after{
            content: '';
            position: absolute;
            top:6px;
            left: ~'calc(50% - 1px);';
            width: 1px;
            height: 10px;
            background: @my-green;
            
            
            animation: scr 1.0s ease-out infinite alternate;
        }
        
        @keyframes scr{
            from{
                top: 6px;
            }
            to{
                top: 12px;
            }
        }
    }   
}

.home__what{
    .text{
        margin-bottom: 70px;
    }
	
}

.home__background{
    position: absolute;
    width: 100%;
    height: 80vh;
    max-height: 750px; 
    top: 70px;
    right: 0;
    background-image: url(../img/home/home_background.png);
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    z-index: 1;
}

.home__reason{
	
	display: flex;
	flex-wrap: wrap;
	
	.title{
		width: 100%;
	}
	
    .reason{
        width: 33.333%;
        float: left;
        
        
        div{
            width: 100%;
            height: 100px;
            margin-bottom:  30px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .icon1{
            background-image: url(../img/home/1.png);
        }
        .icon2{
            background-image: url(../img/home/2.png);
        }
        .icon3{
            background-image: url(../img/home/3.png);
        }
        
        .reason__title{
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 10px;
        }
        .text{
            width: 50%;
            margin: 0 auto;
        }
        
    }
}

.home__questions{
	width: 100%;


	color: #fff;
	
	.top-wave{
		width: 100%;
		height: 300px;
		background-image: url(../img/home/top-wave.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: -50px;
	}
	.bottom-wave{
		width: 100%;
		height: 300px;
		background-image: url(../img/home/bottom-wave.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: -50px;
	}
	.content{
		width: 100%;
		padding: 150px 11.5%;
		box-sizing: border-box;
		
		background-image: url(../img/home/wave.png);
		background-size: 100%  100% ;
		background-repeat: no-repeat;
		background-position: center;
        

	}
	
	.title::after{
		background: #fff;
	}
	
	.footer{
		width: 550px;
		margin: 0 auto;
		text-align: right;
		
		a{
			color: @my-blue;
			&:hover{
				color: darken(@my-blue,5%);
			}
		}
	}
	
	.home__accordion{
        z-index: 100;
        
		div{
			width: 550px;
			margin:0 auto;
			margin-bottom: 20px;
		}
		
		input[type="checkbox"]{
			display: none;
			
			&:checked + label{
				background: rgba(255,255,255,0.1);
				border-radius: 3px 3px 0 0;
			}
			&:not(:checked) ~ article{
				height: 0 !important;
				padding: 0;
				border: 0;
				overflow: hidden;
				
			}
		}
		label{
			display: inline-block;
			width: 100%;
			border: 1px solid #fff;
			padding:7px;
			padding-left: 50px;
			border-radius: 3px;
			text-align: left;
			font-weight: 400;
			cursor: pointer;
			box-sizing: border-box;
            margin: 0 !important;
			
			&::before{
				content: '';
				position: absolute;
				width: 50px;
				height: 100%;
				left: 0;
				top: 0;
				background-size: 35%;
				background-position: center;
				background-repeat: no-repeat;
			}
			
			&[for="ac-1"]::before{
				background-image: url(../img/icon/user.png);
			}
			&[for="ac-2"]::before{
				background-image: url(../img/icon/user.png);
			}
			&[for="ac-3"]::before{
				background-image: url(../img/icon/user.png);
			}
			&[for="ac-4"]::before{
				background-image: url(../img/icon/user.png);
			}
			&[for="ac-5"]::before{
				background-image: url(../img/icon/user.png);
			}
						
			
			&::after{
				content: '';
				position: absolute;
				width: 40px;
				height: 100%;
				right: 0;
				top: 0;
				background-size: 30%;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url(../img/icon/arrow.png);
			}
			
			
		}
		article{
			width: 100%;
			height: initial;
			font-size: 14px;
    		padding:10px;
			border: 1px solid;
			border-top: 0;
			border-radius: 0 0 3px 3px;
			box-sizing: border-box;
            margin: 0 !important;
            
            p{
                text-align: left;
                line-height: 1.4;
            }
			
			
		}
	}
	
}

.home__reviews{
	width: 100%;
	.reviews{
		width: 550px;
		margin: 0 auto;
        z-index: 100;
		overflow-x: hidden;
		
        &::before{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 70px;
                z-index: 2;    
            
                    background: rgba(255,255,255,1);
                    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            }
        
		.posts{
			width: 570px;
			overflow: auto;
			max-height: 350px;
            
            .text{
                margin-bottom: 20px;
            }
            
            
		}
		
		.user{
            min-width: 250px;
            display: inline-block;
			.photo{
                float: left;
				height: 50px;
                width: 50px;
                background: @my-gray;
                margin-right: 15px;
                border-radius: 50%;
			}
            p{
                float: left;
                width: ~'calc(100% - 65px);';
                text-align: left;
                font-size: 15px;
                line-height: 2.2;
                
                &.rank{
                    font-size: 13px;
                    line-height: 0.40;
                }
            }
		}
	}	
	
	.photos.left {
		position: absolute;
		width: 18%;
		left: 0;
		top: -20%;
		
		height: 160%;
		overflow-x: hidden;
		
		.photo{
			position: absolute;			
			border-radius: 50%;
			background: @my-gray;
			-webkit-box-shadow: -20px 20px 100px -15px rgba(200,201,203,1);
			-moz-box-shadow: -20px 20px 100px -15px rgba(200,201,203,1);
			box-shadow: -20px 20px 100px -15px rgba(200,201,203,1);
		}
		.p1{
			right: 50%;
			top: 0px; 
			width: 100px;
			height: 100px;
		}
		.p2{
			right: 20%;
			top: 150px; 
			width: 70px;
			height: 70px;
		}
		.p3{
			right: 75%;
			top: 200px; 
			width: 100px;
			height: 100px;
		}
		.p4{
			right: 40%;
			top: 340px; 
			width: 60px;
			height: 60px;
		}
		.p5{
			right: 80%;
			top: 400px; 
			width: 80px;
			height: 80px;
		}
		.p6{
			right: 25%;
			top: 500px; 
			width: 60px;
			height: 60px;
		}
		.p7{
			right: 70%;
			top: 555px; 
			width: 80px;
			height: 80px;
		}
		
	}
	
	.photos.right {
		position: absolute;
		width: 18%;
		right: 0;
		top: -25%;
		
		height: 160%;
		overflow-x: hidden;
		
		.photo{
			position: absolute;			
			border-radius: 50%;
			background: #eee;
			-webkit-box-shadow: -20px 20px 100px -15px rgba(200,201,203,1);
			-moz-box-shadow: -20px 20px 100px -15px rgba(200,201,203,1);
			box-shadow: -20px 20px 100px -15px rgba(200,201,203,1);

		}
		.p1{
			left: 75%;
			top: 0px; 
			width: 100px;
			height: 100px;
		}
		.p2{
			left: 60%;
			top: 150px; 
			width: 80px;
			height: 80px;
		}
		.p3{
			left: 15%;
			top: 240px; 
			width: 70px;
			height: 70px;
		}
		.p4{
			left: 60%;
			top: 325px; 
			width: 50px;
			height: 50px;
		}
		.p5{
			left: 25%;
			top: 400px; 
			width: 80px;
			height: 80px;
		}
		.p6{
			left: 70%;
			top: 480px; 
			width: 60px;
			height: 60px;
		}
		.p7{
			left: 25%;
			top: 550px; 
			width: 80px;
			height: 80px;
		}
		
	}
}

/*teachers and contacts*/
.subjects{
    
    .content{
        display: flex;
        justify-content: space-between;
        
        .subject{
            
            width: 32%;
            border: 1px solid @my-gray;
            border-radius: 10px;
            padding: 60px 0;
            background: #fff;
            z-index: 3;
            transition: 0.1s;
            
            &:hover{
                border-color: #fff;
                .shadow;
                .button{
                    display: block;
                }
                z-index: 2;
                transition: 0.1s;
            }
            
            .photo{
                width: 60px;
                height: 60px;
                margin: 0 auto;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 10px;
                
                &.math{
                    background-image: url(../img/teachers/math.png);
                }
                &.chemical{
                    background-image: url(../img/teachers/chemical.png);
                }
                &.physics{
                    background-image: url(../img/teachers/physics.png);
                }
            }
            .name{
                font-weight: 500;                
            }
            .button{
				width: 170px;
                position: absolute;
                bottom: -19px;
                left: ~'calc(50% - 85px);';
                display: none;
            }
        }
    }
}

.map{
    padding: 40px 50px 20px 50px;
    border: 1px solid @my-gray;
    border-radius: 5px;
    box-sizing: border-box;
    
    p{
        text-align: left;
        
        span{
            font-size: inherit;
            font-weight: 500;
			
        }
        &.addres{
            margin-top: 15px;
            text-align: center;
            font-weight: 500;
        }
    }
}

.peoples{
    .content{
        display: flex;
        justify-content: space-between;
        
        .block{
            width: 32%;
            display: flex;
            flex-direction: column;
            
            .photo{
                width: 220px;
                height: 220px;
                margin: 0 auto;
                border-radius: 50%;
                margin-top: 10px;
                margin-bottom: 10px;
                background: @my-gray;
                .shadow;
            }
            .name{
                font-size: 28px;  
                font-weight: 400;
            }
            .text{
                 width: 250px;
                 margin: 0 auto;
                 line-height: 1.5;
            }
            .contact{
                margin: 0 auto;
                color: #999;
                line-height: 1;
                margin-top: 15px;
                
                &::before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 15px;
                    left: -20px;
                    top: 0;
                    
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &.phone::before{
                    background-image: url(../img/icon/gray-phone.png);
                }
                &.mail::before{
                    background-image: url(../img/icon/gray-mail.png);
                }
            }
        }
        
    }
}

/*pricing*/
.pricing{
    
    .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        .block{
            width: 32%;
            background: #fff;
            border: 1px solid @my-gray;
            border-radius: 10px;
            margin-bottom:  50px;
            transition: 0.2s;
            
            &:hover{
                border-color: #fff;
                margin-bottom:  0px;
                .shadow;
                transition: 0.2s;
            }
            &:hover .photo{
                height: 300px;
                transition: 0.2s;
            }
            
            .photo{
                width: 100%;
                height: 250px;
                
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                
                &.kid-1-4{
                    background-image: url(../img/pricing/kid1.png);
                }
                &.kid-5-8{
                    background-image: url(../img/pricing/kid2.png);
                }
                &.kid-9-10{
                    background-image: url(../img/pricing/kid3.png);
                }
            }
            .class{
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 1;
            }
            .form{
                width: 100%;
                padding: 30px 25px;
                background: rgba(0,0,0,0);
                box-sizing: border-box;
                margin: 0 auto;
                
                div{
                    width: 100%;
                    margin: 0;
                }
                .select{
                    width: 100%;
                    margin: 0;
                    padding: 14px 10px !important;
                    
                }
                .coast{
                    color: @my-green;
                    font-size: 25px;
                    font-weight: 700;
                    padding: 15px 0;
                    span{
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
                 .button{
                        float: none;
					    padding: 15px 0;

                 }
                
             }
        }
    } 
}

/*login/registration*/
.auth{
   
	width: 100%;
	min-height: 750px;
	background-image: url(../img/login_background.png);
	background-position: right top;
	background-size: contain ;
	background-repeat: no-repeat;
	
    &.reg{
        background-image: url(../img/reg_background.png) !important;
    }
    
	.form{

        label{
            background-size: 30%;
            background-position: center!important;
            background-repeat: no-repeat!important;
        }
        
        label[for="name"]{
            background-image: url(../img/icon/gray-user.png)!important;
        }
        label[for="email"]{
            background-image: url(../img/icon/gray-mail2.png)!important;
        }
        label[for="password"]{
            background-image: url(../img/icon/gray-pass.png)!important;
        }
        label[for="select"]{
            background-image: url(../img/icon/gray-book.png)!important;
        }
	}
}


/*фотографии*/

.home__reviews{
	/*отзывы*/
	.reviews{
		.user{
			.photo{
				background-position: center;
    			background-repeat: no-repeat;
				background-size: contain;
			}			
		}
		#user-1 .photo{
			background-image: url(../img/home/user1.jpg);
		}
		#user-2 .photo{
			background-image: url(../img/home/user2.jpg);
		}
        #user-3 .photo{
			background-image: url(../img/home/user3.jpg);
		}
		#user-4 .photo{
			background-image: url(../img/home/user4.jpg);
		}
        #user-5 .photo{
			background-image: url(../img/home/user5.jpg);
		}
		#user-6 .photo{
			background-image: url(../img/home/user6.jpg);
		}
        #user-7 .photo{
			background-image: url(../img/home/user7.jpg);
		}
		
	}
	
	/*вокруг отзывов*/
	.photos{
		&.left{
			.photo{
				background-position: center;
    			background-repeat: no-repeat;
				background-size: contain;
			}	
			.p1{
				background-image: url(../img/home/user2.png);
			}
			.p2{
				background-image: url(../img/home/user3.png);
			}
			.p3{
				background-image: url(../img/home/user1.png);
			}
			.p4{
				background-image: url(../img/home/user2.png);
			}
			.p5{
				background-image: url(../img/home/user3.png);
			}
			.p6{
				background-image: url(../img/home/user1.png);
			}
			.p7{
				background-image: url(../img/home/user2.png);
			}
		}
		
		&.right{
			.photo{
				background-position: center;
    			background-repeat: no-repeat;
				background-size: contain;
			}	
			.p1{
				background-image: url(../img/home/user1.png);
			}
			.p2{
				background-image: url(../img/home/user2.png);
			}
			.p3{
				background-image: url(../img/home/user3.png);
			}
			.p4{
				background-image: url(../img/home/user1.png);
			}
			.p5{
				background-image: url(../img/home/user2.png);
			}
			.p6{
				background-image: url(../img/home/user3.png);
			}
			.p7{
				background-image: url(../img/home/user1.png);
			}
		}
		
	}
}

.peoples{
	.photo{
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: contain !important;
	}
	
	.teacher__photo1{
		background-image: url(../img/teachers/teacher1.png) !important;
	}
	.teacher__photo2{
		background-image: url(../img/teachers/teacher2.png)!important;
	}
	.teacher__photo3{
		background-image: url(../img/teachers/teacher3.png)!important;
	}
	.teacher__photo4{
		background-image: url(../img/teachers/teacher1.png) !important;
	}
	.teacher__photo5{
		background-image: url(../img/teachers/teacher2.png)!important;
	}
	.teacher__photo6{
		background-image: url(../img/teachers/teacher3.png)!important;
	}
	
	
	#contact-1 .photo{
		background-image: url(../img/contacts/contact1.png)!important;
	}
	#contact-2 .photo{
		background-image: url(../img/contacts/contact2.png)!important;
	}
	#contact-3 .photo{
		background-image: url(../img/contacts/contact3.png)!important;
	}
}

/*всплывающее окно после регистрации*/
.container{
    margin: 80px 0 0 0;
    z-index: 100;
    position: absolute;
}

@media screen and (max-width:1024px){
    
    .container{
        margin: 120px 0 0 0;    
    }
    
    *,p,a,button,input{
        font-size: 34px;
    }
	body{
		justify-content: space-between;
        
        p{
            text-align: center !important; 
        }
	}
    p.title{
        font-size: 70px;
    }
    
    
	header:not(.mob){
		display: none;
	}
	header.mob{
		display: flex;
        .button{
            width: auto;
            font-size: 48px;
            padding: 15px 50px !important;
		   
		    border-radius: 40px !important;
            max-height: none;
     
        }
	}
    
    .feedback__form{
        flex-direction: column;
        align-items: center;
        
        .button{
           
            font-size: 48px;
            padding: 15px 50px !important;
		   
		    border-radius: 40px !important;
            max-height: none;
     
        }
        
        
        
        div{
            width: 100%;
            margin: 15px 0;
            
            &::before{
                font-size: 22px;
                margin-top: -22px;
            }
            
            select{
                font-size: 34px;
            }
            
        }
		label{
			height: 50px;
			margin: 0;
			background-size: 50%;
		}
        .button{
            margin-top: 20px;
        }
        a{
            font-size: 25px;
        }
        
        /*цвет placeholder*/
        ::-webkit-input-placeholder{
            color:#fff;
            font-size: 34px;
            font-weight: 300;
        }
        ::-moz-placeholder{
            color:#fff;
            font-size: 34px;
            font-weight: 300;
        }
        :-moz-placeholder{
            color:#fff;
            font-size: 34px;
            font-weight: 300;
        }
        :-ms-input-placeholder{
            color:#fff;
            font-size: 34px;
            font-weight: 300;
        }
    }
	
	.home__background{
		top: 110px;
        background-image: url(../img/home/home.png);
        display: none;
	}
    
    .home__main{
        .text{
            margin-bottom: 110px;
        }
    }
    
    .home__what{
        .button{
            font-size: 48px;
            padding: 15px 50px !important;
		   
		    border-radius: 40px !important;
            max-height: none;
     
        }
    }
    .home__reason{
        
        .reason .text{
            width: 80%;
            margin: 0 10%;
        }
        .reason__title{
            font-size: 38px !important;
        }
    }
    .home__questions{
        
        .content{
            padding: 200px 0;
        }
        .home__accordion div{
            width: 90%;
            
            label{
                font-size: 38px;
            }
            article p{
                text-align: left !important;
            }
        }
        
        a{
            font-size: inherit;
        }
    }
    .home__reviews{
        
        display:none;
        
    }
    
    .pricing{
        .form{
            div::before{
               display: none;
            }
        }
    }
    
    .auth{
        min-height: 770px;
        .button,div,.or,.form__title{
            width: 90%;
        }
        
        label{
            background-size: 35% !important;  
        }    
		
		.form{
			max-width: 100%;
			
			.form__title{
				font-size: 70px;
			}
			
			div{
				margin-bottom: 55px;
			}
			label{
				width: 70px;
			}
			input{
				padding: 20px 0 20px 85px;
			}
			select{
				padding: 23.5px 0 23.5px 85px;
			}
			.button{
				padding: 25px 0;
			}
		}
        
    }
	.section:not(.home__questions) {
		width: 95%;
		&.home__main,&.pricing,&.subjects,&.map{
			margin-top: 170px;
		}
	}
    
    .subjects{
        .subject{
            .button{
                width: 80% !important;
                left: ~'calc(50% - 40%)!important;';
                box-sizing: border-box;
				bottom: -50px !important;
            }
        }
    }
	
	.contacts{
	flex-direction: column;
	align-items: center;
	
        .block{
            margin: 0 auto;
            width: 100% !important;
            margin-bottom: 35px;

            .name{
                font-size: 50px!important;
            }

            p{
                width: auto !important;
            }

	    }
	
    } 
    .through{
        padding-left: 75px !important;

		&::before{
			width: 75px !important;
		}
    }

	footer{
		padding: 0 2.5%;
        .arc{
           height: 400px; 
        }
	}

}



 



























