.table > thead > tr.filters > td {padding: 0;}
.row.wrapper.border-bottom.white-bg.page-heading {min-height: 95px;}
.kv-tree-container {padding-bottom: 20px;}
.action-column {white-space: nowrap;}
img {max-height: 100%; max-width: 100%;}
.metismenu li > a {font-size: 12px;}
.metismenu.nav > li > a {padding-left: 10px; padding-right: 10px;}
.cke_button__exercise_icon{ display: none !important;}
.cke_button__exercise_label{ display: inline !important; }
.cke_button__test_icon{ display: none !important;}
.cke_button__test_label{ display: inline !important; }
.cke_button__sliders_icon{ display: none !important;}
.cke_button__sliders_label{ display: inline !important; }
.cke_button__vkshare_icon{ display: none !important;}
.cke_button__vkshare_label { display: inline !important;}

.formula-edit {
}
