/* Ars Vitae blocks */
div.wk-wrap {}
div.wk-top {position: relative; color: #fff;}
div.wk-main {position: relative; background:url(/ckfinder_img//files/sloy-8.jpg) repeat center center; padding-bottom: 50px;}
div.wk-features {position: relative; background:#F4742E; color:#ffffff; padding: 50px 0;}
div.wk-what {position: relative; border-top: rgba(71, 112, 257, 1) solid 50px;}
div.wk-inter {position: relative; background-color: rgb(92, 184, 92); color: #fff;}
div.wk-form {position: relative; /*background-color: rgba(71, 112, 257, 1);*/ padding: 5% 0;}
div.wk-price {position: relative; background-color: rgb(92, 184, 92); color:#ffffff; padding: 50px 0 80px 0;}
div.wk-contact {position: relative;}

.wk-wrap h2 {text-align: center; margin-bottom: 50px; font-size: 40px;}
.wk-wrap h3 {text-align: center; margin: 0px auto 30px auto; font-size: 20px; font-weight: 600;}
.wk-wrap strong {color: #F4742E;}

/* Head block */
.wk-wrap div.head {width: 100%; background: #272727; padding-top: 5px;}
.wk-wrap .head div.head-left {display: inline-block; width: 45%; margin-left: 5%;}
.wk-wrap .head div.head-right {display: inline-block; width: 45%; text-align: right;}
.wk-wrap .head .head-left p.big-p {font-size: 30px; color: #fff;}
.wk-wrap .head .head-left p {font-size: 18px; color: #fff;}
.wk-wrap .head .head-right p {font-size: 20px; color: #fff; vertical-align: middle;}

/* Top block */
.wk-wrap .wk-top div.wk-top-inner {width: 33%; z-index: 50; position: absolute; top: 5%; left: 5%;}
.wk-top-inner h3 {font-size: 50px; margin: 30px 0; text-align: left;}
.wk-top-inner p.big-p {font-size: 25px; margin: 20px 0;}
.wk-wrap .wk-top .wk-top-inner p {font-size: 20px; font-weight: 500;}
.wk-wrap .wk-top img {width: 100%; height: auto; margin: 0; z-index: -10;}
.wk-wrap .wk-top img.logo {display: none; background: #fff; padding: 1px; z-index: 10; position: absolute; bottom: 5%; left: 7%; width: 10%;
    height: auto;}
.wk-wrap .wk-top div.btn-down {position: absolute; bottom: 8%; left: 7%; z-index: 20; font-size: 100px;}
.wk-top .btn-down i{width: 35px; cursor: pointer; text-align:left;}
.wk-top .btn-down i:hover{opacity: 0.7;}

/* Main block */
.wk-wrap .wk-main div.wk-main-inner {width: 40%; margin-left: 30%;}
.wk-wrap .wk-main .wk-main-inner h3 {color:#F4742E; font-size: 30px; text-align: center; margin-bottom: 30px;}
.wk-wrap .wk-main div.btn-course-request {width: 20%; margin-left: 40%;}

/* features block */
.wk-wrap .wk-features h3 {color:#fff; font-size: 40px; text-align: center; margin-bottom: 30px;}
.wk-wrap .wk-features img {width: 40%; margin-left: 30%; margin-bottom: 20px;}
.wk-wrap .wk-features h4 {width: 80%; font-size: 20px; margin-left: 10%; text-align: center;}
.wk-wrap .wk-features p {width: 80%; margin-left: 10%; text-align: center;}
div.features-7 {width: 50%; margin-left: 25%;}
.wk-wrap .wk-features .features-7 img {width: 30%; margin-left: 35%;}
.wk-wrap .wk-features .features-7 p {font-size: 20px;}

/* What block */

.wk-wrap .wk-what .col-marginless-1of2 img {width: 70%; margin-left: 20%; vertical-align: bottom; border: 0;}
.wk-wrap .wk-what .col-marginless-2of2 div.col-inner {width: 80%; margin-left: 5%; margin-top: 3%;}
.wk-wrap .wk-what .col-marginless-2of2 .col-inner h3 {color:#F4742E; font-size: 30px; margin-left: 4%; margin-bottom: 30px;}
.wk-wrap .wk-what .col-marginless-2of2 li {margin: 5px 0;}

/* Inter block */
div.inter-1 {background-color: rgb(92, 184, 92);}
div.inter-2 {background:#24c2e1;}
div.inter-3 {background:#B564D4;}
div.inter-4 {background:#FFBF00;}
.wk-wrap .wk-inter div.inter-row-1 {padding: 5% 0;}

.wk-wrap .wk-inter h2 {font-size: 30px;}
.wk-wrap .wk-inter .marginless-row img {width: 60%; margin: 5% 20%;}
.wk-wrap .wk-inter .marginless-row p {text-align: center; padding: 15px; margin: 5% 10%; width: 80%; 
    font-size: 24px; font-weight: 600; background: #F4742E;}
.wk-wrap .wk-inter .marginless-row a {color: #fff;}

.wk-wrap .wk-inter .marginless-row p.big-p {font-size: 24px; text-align: center;}

/* form block */

.wk-wrap .wk-form h2 {font-size: 40px; text-align: center; margin: 0 0 5% 0;}
.wk-wrap .wk-form h3 {font-size: 30px; text-align: center; margin: 0 0 5% 0; color: #F4742E;}
.wk-wrap .wk-form p {font-size: 20px; text-align: center; margin-top: 2%;}
.wk-wrap .wk-form li {font-size: 20px; margin-top: 2%; margin-left: 20%;}

/* prices block */
.wk-wrap .wk-price div.col-marginless-1of2 {padding-top: 2%; padding-right: 5%;}
.wk-wrap .wk-price div.col-marginless-2of2 {padding: 0;}
.wk-wrap .wk-price h2 {font-size: 40px; text-align: center; margin: 0 0 2% 0;}
.wk-wrap .wk-price .marginless-row .col-marginless-1of2 h3 {font-size: 120px; margin-left: 30%;}
.wk-wrap .wk-price .marginless-row .col-marginless-1of2 p {font-size: 40px;  margin-left: 30%; text-align: center;}

.wk-wrap .wk-price .marginless-row .col-marginless-2of2 ul {width: 80%; margin-left: 0%; margin-top: 30px;}
.wk-wrap .wk-price .marginless-row .col-marginless-2of2 li {font-size: 24px;}

/* Misc */
.wk-wrap div.tests-contact {background-color: rgba(71, 112, 257, 1);}