/**
 *
 * Landing CSS
 *
 * ****************************************************************************************************************** */
html,
body {
    height: 100%;
    width: 100%;
    font-family: "MuseoSansCyrl", Arial, sans-serif;
    overflow-x: hidden;
}
p {font-size: 16px; font-family: inherit;}
.wrap {min-height: 100%; height: auto; margin: 0 auto -60px; padding: 0 0 60px;}
.footer {height: 100px; background-color: #f5f5f5; border-top: 1px solid #ddd; padding-top: 20px;}

/* Footer */
.footer-left-menu {list-style: none; padding: 0;}
.footer-left-menu li {display: inline-block; padding: 0 20px 0 0;}
.footer-right-menu {list-style: none; padding: 0;}
.footer-right-menu li {display: inline-block; padding: 0 0 0 20px;}

/*–––––––––––––––––––––––––––––––––––––––––––––––––  Common Blocks  ––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* Inners */
div.col-inner {width: 90%; margin-left: 5%; padding: 30px; position: relative;}

div.marginless-row {position: relative; margin: 0px; padding:0; display: block; width: 100%;}
div.row-inner {position: relative; width: 84%; margin: 5% auto 5% 8%; padding: 0px; }

/* Two blocks in a row without margin */

div.col-marginless-1of2 {width: 50%; height:100%;}
div.col-marginless-2of2 {width: 50%; height:100%; position: absolute; left: 50%; top: 0;}

/* Three blocks in a row without margin */

div.col-marginless-1of3 {width: 33%; height:100%;}
div.col-marginless-2of3 {width: 34%; height:100%; position: absolute; left: 33%; top: 0;}
div.col-marginless-3of3 {width: 33%; height:100%; position: absolute; left: 67%; top: 0;}

/* Four blocks in a row without margin */

div.col-marginless-1of4 {width: 25%; height: 100%;}
div.col-marginless-2of4 {width: 25%; height:100%; position: absolute; left: 25%; top: 0;}
div.col-marginless-3of4 {width: 25%; height:100%; position: absolute; left: 50%; top: 0;}
div.col-marginless-4of4 {width: 25%; height:100%; position: absolute; left: 75%; top: 0;}

/* Two blocks in a row with margin */

div.invisible-1of2 {width: 40%; margin: 0 5%;}
div.invisible-2of2 {width: 40%; position: absolute; left: 55%; top: 0;}

/* Image and text horisontal */

div.img-left {width: 20%; height: 100%;}
div.text-right {width: 80%; height: 100%; position: absolute; left: 20%; top: 0;}

/* Contacts for ARETE */

div.tests-contact {background:#272727; padding: 50px 0;}
div.tests-contact-inner {width: 70%; margin: 0px 15%; padding: 50px; background: #f5f5f5; position: relative;}
	div.tests-contact-img { width: 20%; margin: 20px 40%;}
	.tests-contact-inner .tests-contact-img img {width: 100%; height: auto;}
	div.tests-contact-right {text-align: center; width: 80%; margin: 30px 10%; }
	.tests-contact-inner p {font-size: 20px; line-height: 1.5;}
	.tests-contact-inner .tests-contact-right span.big {font-size: 24px; font-weight: 700;}

.tests-contact div.wk-form-request {width: 100%; bottom: 0; top: auto;}


/*–––––––––––––––––––––––––––––––––––––––––––––––––  Common Misc  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
img.img-block {width: 40%; height: auto; margin: 30px auto 20px 30%;}

/*–––––––––––––––––––––––––––––––––––––––––––––––––  Tren  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
div.head {width: 100%; background: #272727; padding-top: 5px;}
.head div.head-left {display: inline-block; width: 45%; margin-left: 5%;}
.head div.head-right {display: inline-block; width: 45%; text-align: right;}
.head .head-left p.big-p {font-size: 30px; color: #fff;}
.head .head-left p {font-size: 18px; color: #fff;}
.head .head-right p {font-size: 20px; color: #fff; vertical-align: middle;}


/*–––––––––––––––––––––––––––––––––––––––––––––––––  EGE & OGE  ––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* OGE & EGE BLOCKS */

div.oge-wrap{position: relative; display: block; margin: 0px; width: 100%;}
div.oge-how {position: relative; padding-top: 2%;}
div.oge-head {position: relative; left:0; top:0; display: block; margin: 0px; width: 100%;}
div.oge-reasons {position: relative; padding-top: 4%; background: #272727; color: #fff;}
div.oge-prices {position: relative; padding: 3% 0 0 0;}
div.form {padding: 0 0 2% 0;}
div.oge-promo {position: relative; padding: 3% 0 0 0; border-top: 50px solid #F4742E; border-bottom: 50px solid #F4742E;}
div.oge-testim {position: relative; display: block; margin: 0px; width: 100%;}
div.oge-subjects {position: relative; display: block; margin: 0px; width: 100%;}
/*.oge-wrap div.form {height: 300px; background-color: rgb(92, 184, 92);}*/

.oge-wrap h2 {text-align: center; margin-bottom: 50px; font-size: 40px;}
.oge-wrap h3 {text-align: center; margin: 0px auto 30px auto; font-size: 20px; font-weight: 600;}


/* head block */
div.oge-head-inner {color: #000; width: 43%; height: 100%; z-index: 50; position: absolute; bottom: 0%; right:0%;
background: rgba(255, 255, 255, 0.7); padding: 4% 2%;}
.oge-head-inner li {font-size: 20px; margin: 20px 0;}
.oge-head-inner hr {width: 92%; margin: 20px auto 20px 4%; height: 2px; color: rgb(92, 184, 92); 
    background-color: rgb(92, 184, 92); border: none;}
.oge-head-inner p.big-p {margin: 20px 0; text-align: center; font-size: 20px;}
.oge-head-inner h3 {font-size: 24px;}
.oge-head .oge-head-inner a.a-in-a-row {margin: 0 10%;} 
.oge-wrap .oge-head img {width: 100%; height: auto; margin: 0; z-index: -10;}
.oge-wrap .oge-head img.logo {background: #fff; padding: 3px; z-index: 10; position: absolute; top: 2%; left: 2%; width: 10%;
    height: auto;}
.oge-head .oge-head-inner div.btn-course-request {width: 90%; margin-left: 5%;}
.oge-head .oge-head-inner a.btn.btn-lg.btn-success.course-reques {width: 90%; margin-left: 5%;}
a.orange-a {color: #F4742E; font-weight: 600;}


/* Description Block */
.oge-wrap .oge-how .marginless-row div.col-marginless-1of2 {padding: 2% 0;}
.oge-wrap .oge-how .marginless-row .col-marginless-1of2 p.big-p {font-size: 18px; width: 60%; margin-left: 30%; 
    text-align: center;}
.oge-wrap .oge-how .marginless-row .col-marginless-1of2 h3 {margin-left: 20%;}
.oge-wrap .oge-how .marginless-row div.col-marginless-2of2 {padding: 3% 0;}
.oge-wrap .oge-how .marginless-row img {height: 100%; max-height: 300px; width: auto; margin-left: 25%; vertical-align: middle;}
.oge-wrap .oge-how .marginless-row a {color: #f4742e; font-weight: 500;}
.oge-wrap .oge-how .marginless-row .how-8 img {margin-left: 35%;}
.oge-wrap .oge-how .marginless-row .how-10 img {margin-left: 37%;}
.oge-wrap .oge-how .marginless-row .how-12 img {margin-left: 32%;}
.oge-wrap .oge-how .marginless-row div.how-1 {background: #24c2e1;}
.oge-wrap .oge-how .marginless-row div.how-3 {background: #FFDE40;}
.oge-wrap .oge-how .marginless-row div.how-5 {background: #B564D4;}
.oge-wrap .oge-how .marginless-row div.how-7 {background: #57ded6;}
.oge-wrap .oge-how .marginless-row div.how-9 {background: #FF9340;}
.oge-wrap .oge-how .marginless-row div.how-11 {background: #66E275;}


/* Reasons Block */
.oge-wrap .oge-reasons .marginless-row .col-marginless-1of2 div.col-inner {width: 80%; margin-left: 20%;}
.oge-wrap .oge-reasons .marginless-row .col-marginless-2of2 div.col-inner {width: 80%; margin-left: 0%;}
.oge-wrap .oge-reasons .marginless-row img {width: 24%; height: auto; margin: 3% auto 3% 38%;}
.oge-wrap .oge-reasons .marginless-row p {width: 80%; margin: 20px auto 30px 10%; text-align: center;}

/* Prices Block */
.oge-wrap .oge-prices div.row-inner {margin-bottom: 3%;}
.oge-wrap .oge-prices .row-inner .invisible-1of2 img {width: 30%; margin-left: 35%; margin-bottom: 5%;}
.oge-wrap .oge-prices .row-inner .invisible-2of2 img {width: 30%; margin-left: -10%; margin-bottom: 5%; display: inline-block; }
.oge-wrap .oge-prices .row-inner .invisible-2of2 img.img-left {margin-left: 15%;}
.oge-wrap .oge-prices .row-inner p.big-p {font-size: 50px; display: block; text-align: center; margin-top: 20px;}
.oge-wrap .oge-prices .col-inner p.big-p {font-size: 30px; text-align: center; margin: 20px 0;}
.oge-wrap .oge-prices h3 {font-size: 30px; color: #F4742E;}

/*form*/
.oge-wrap div.wk-form-request { margin: 0px 0 50px 20%; width: 60%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); top: 0px; vertical-align: middle;}
.oge-wrap .form a {top: -30px;}

/* promo block */
.oge-wrap .oge-promo h2 {color: #F4742E; font-weight: 600;}
.oge-wrap .oge-promo div.marginless-row {padding: 5% 0;}
.oge-wrap .oge-promo .marginless-row div.col-marginless-1of2 {padding: 0 5%; width: 60%;}
.oge-wrap .oge-promo .marginless-row div.col-marginless-2of2 {padding: 0; width: 40%; left: 60%;}
.oge-wrap .oge-promo .marginless-row .col-marginless-1of2 h3 {font-size: 60px; text-align: center; margin: 20px 0;}
.oge-wrap .oge-promo .marginless-row .col-marginless-1of2 p.big-p {font-size: 40px; 
    text-align: center; margin: 20px 0;}
.oge-wrap .oge-promo .marginless-row .col-marginless-1of2 p.big-p-1 {font-size: 30px; text-align: center; margin: 20px 0;}
.oge-wrap .oge-promo .marginless-row .col-marginless-1of2 p {margin-top: 50px; font-size: 24px;}
.oge-wrap .oge-promo .marginless-row .col-marginless-2of2 img {height: 100%; width: auto; float: right; margin-right: 20%;}

/* Testims Block */
div.testim-item-1 {background: #24c2e1; color: #272727;}
div.testim-item-2 {background: #bb3600; color: #dddddd;}
div.testim-item-3 {background: #ffffa1; color: #272727;}
div.testim-item-5 {background: #372b2b; color: #dddddd;}
div.testim-item-6 {background: #bebebe; color: #272727;}
div.testim-item-7 {background: #1a4f60; color: #dddddd;}
div.testim-row-2 {display: none;}
div.testim-row-4 {display: none;}
.oge-wrap .oge-testim .marginless-row img {width: 50%; margin: 20px auto 20px 25%;}
.oge-wrap .oge-testim .marginless-row p {width: 80%; margin: 20px auto 30px 10%; text-align: center; font-size: 14px;}

/* Subjects Block */

div.oge-subjects-center {width: 30%; position: absolute; left: 35%; top: 30%;}
.oge-subjects div.oge-math {width: 20%; display: inline-block; margin-left: 10%; margin-top: 10%;}
.oge-subjects div.oge-russian {width: 20%; display: inline-block; margin-left: 10%;margin-top: 3%; vertical-align: top;}
.oge-subjects div.oge-english {width: 20%; display: inline-block; margin-left: 10%;margin-top: 10%;}
.oge-subjects div.oge-lit {width: 20%; display: inline-block; margin-left: 5%;margin-top: 8%;}
.oge-subjects div.oge-society {width: 20%; display: inline-block; margin-left: 50%; margin-top: 8%;}
.oge-subjects div.oge-phys {width: 20%; display: inline-block; margin-left: 10%; margin-top: 7%; vertical-align: top;}
.oge-subjects div.oge-chem {width: 20%; display: inline-block; margin-left: 10%; margin-top: 14%; margin-bottom: 5%; vertical-align: bottom;}
.oge-subjects div.oge-bio {width: 20%; display: inline-block; margin-left: 10%; margin-top: 7%; vertical-align: top;}
.oge-subjects p {text-align: center;}
.oge-subjects img {width: 90%; margin-left: 5%;}

.oge-subjects .oge-subjects-inner div.btn-course-request {width: 90%; margin-left: 5%;}
.oge-subjects .oge-subjects-inner a.btn.btn-lg.btn-success.course-reques {width: 90%; margin-left: 5%;}


/* OGE & EGE misc */

.oge-wrap div.tests-contact {background-color: rgb(92, 184, 92);}



/*–––––––––––––––––––––––––––––––––––––––––––––––––  Tests  ––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* Tests BLOCKS */

div.tests-wrap {}
div.tests-head {position: relative;}
div.tests-terms {background:#f5f5f5; color: #272727; padding: 50px 0;}

/* Tests BLOCKS inners */
.tests-wrap .tests-head img {width: 100%; height: auto; margin: 0; z-index: -10;}
.tests-wrap .tests-head img.logo {background: #fff; padding: 3px; z-index: 10; position: absolute; top: 2%; left: 2%; width: 10%;
    height: auto;}
div.tests-head-inner {color: #000; width: 43%; height: 100%; z-index: 50; position: absolute; bottom: 0%; right:0%;
background: rgba(255, 255, 255, 0.7); padding: 5% 3%;}
	div.tests-head-title {text-align: center;}
	div.tests-head-title p {font-size: 40px; font-weight: 700;}
	div.tests-head-description p {font-size: 22px; font-weight: 500;}
	.tests-head .tests-head-inner .tests-head-description p.strong-p {font-weight: 600; text-align: center;}
	.tests-head .tests-head-inner .tests-head-description a.orange-a {font-size: 26px; font-weight: 600; 
        color: #F4742E; text-align: center;}
div.tests-terms-inner {width: 60%; padding: 30px 30px; margin-left: 20%;}
	.tests-head .tests-head-inner .tests-head-description hr {width: 92%; margin: 20px auto 20px 4%; height: 2px; 
        color: rgb(92, 184, 92); background-color: rgb(92, 184, 92); border: none;}
	.tests-terms .tests-terms-inner h2 {font-size: 30px; text-align: center; color: #272727; margin: 0 0 20px 0;}
    .tests-terms .tests-terms-inner p {font-size: 18px;}

.tests-wrap div.wk-form-request { margin: 0; width: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); top: 0px;}

.tests-wrap p {font-size: 18px;}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––  Form  –––––––––––––––––––––––––––––––––––––––––––––––––––––*/


div.wk-form-request {
    position: relative;
    text-align: center;
    width: 63%;
    margin: auto;
    background-color: rgb(92, 184, 92);
    padding-bottom: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
    top: -52px;
    z-index: 100;
 }

.wk-form-request div {
    display: inline-block;
}

.wk-form-request input {
    border-radius: 2px;
    z-index: 134;
    margin-top: 30px;
    margin-right: 2%;
    width: 95%;
    height: 40px;
    float: left;
}

.wk-form-request a {
    height: 40px;
    width: 95%;
    margin-right: 2%;
    font-size: 14px;
    background-color: rgb(244, 116, 46);
    border-color: rgb(244, 116, 46);
    border-radius: 2px;
    float: left;
    text-transform: uppercase;
    line-height: 2;
    display: inline-block;
}

.wk-contact .wk-form-request {
    padding-left: 55px;
}

.btn-course-request a{
    border-radius: 2px;
    width: 100%;
    text-transform: uppercase;
    margin-top: 20px;
}

.wk-form .btn-course-request a{
    background-color: #F4742E;
    border-color: #F4742E;
}

.wk-form-request .has-error input {
    background: #FFE4E4;
}

#course-request-subject-modal-btn .modal-dialog {
    width: 1172px;
}
.course-request-form .subjects-container > label {display: inline-block!important; margin-bottom: 0; font-size: 12px; width:50%;}
.course-request-form .subjects-container {width: 250px; font-size: 0;}
.course-request-form .form-group > label {display: none}
.course-request-form .has-error input {background: #FFE4E4;}

.course-request-form.horizontal {width: 1020px; margin: 0 auto;}
.course-request-form.horizontal form {overflow: hidden;}
.course-request-form.horizontal .help-block {display: none}
.course-request-form.horizontal .first-block {float: left;}
.course-request-form.horizontal .info-container {overflow: hidden;}
.course-request-form.horizontal .info-container .form-group {float: left;}
.course-request-form.horizontal .info-container .form-group + .form-group {margin-left: 20px;}
.course-request-form.horizontal .subjects-container {float: left;}
.course-request-form.horizontal .submit-button-container {float: right;}
.course-request-form.horizontal [class*="field-courserequest-class"] {width: 80px;}
.course-request-form.horizontal .subjects-container {width: 350px; margin-left: 20px;}
.course-request-form.horizontal a {display: block; height: 83px; line-height: 66px;}



/*–––––––––––––––––––––––––––––––––––––––––––––––––  Maps  ––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.affiliate-map {
    width: 859px;
    height: 300px;
    margin: auto;
}

.ymaps-map {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}


/*––––––––––––––––––––––––––––––––––––––––––––––––––––Screens–––––––––––––––––––––––––––––––––––––––––––*/
@media(max-width:320px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}
}

@media(min-width:321px) and (max-width:404px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}
}

@media(min-width:405px) and(max-width:430px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}
}

@media(min-width:431px) and (max-width:480px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}
}

@media(min-width:481px) and (max-width:509px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}
}

@media(min-width:510px) and (max-width:624px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}

}

@media(min-width:625px) and (max-width:650px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}

}

@media(min-width:651px) and (max-width:767px){
    html, body {font-size: 10px;}
    p {font-size: 10px;}
}

/* Extra Small */


@media(min-width:768px) and (max-width:850px){
    html, body {font-size: 12px;}
    p {font-size: 12px;}   
}

/* Small */
@media(min-width:851px) and (max-width:991px){
    html, body {font-size: 12px;}
    p {font-size: 12px;}

    
    /* Tests BLOCKS */
    div.tests-head-title p {font-size: 24px; font-weight: 600;}
	div.tests-head-description p {font-size: 14px; font-weight: 400;}
    .tests-head .tests-head-inner .tests-head-description a {font-size: 18px;}
    .tests-terms .tests-terms-inner h2 {font-size: 20px;}
    .tests-terms .tests-terms-inner p {font-size: 14px;}
    .tests-contact-inner p {font-size: 16px; line-height: 1.5;}
	.tests-contact-inner .tests-contact-right span.big {font-size: 20px; font-weight: 700;}
}

@media(min-width:992px) and (max-width:1103px){
    html, body {font-size: 14px;}
    p {font-size: 14px;}

    
    /* Tests BLOCKS */
    div.tests-head-title p {font-size: 28px; font-weight: 600;}
	div.tests-head-description p {font-size: 16px; font-weight: 400;}
    .tests-head .tests-head-inner .tests-head-description a {font-size: 20px;}
    .tests-terms .tests-terms-inner h2 {font-size: 22px;}
    .tests-terms .tests-terms-inner p {font-size: 16px;}
    .tests-contact-inner p {font-size: 18px; line-height: 1.5;}    
	.tests-contact-inner .tests-contact-right span.big {font-size: 20px; font-weight: 700;}

}



/* Medium */
@media(min-width:1104px) and (max-width:1199px){
    html, body {font-size: 14px;}
    p {font-size: 14px;}
    
    /* Tests BLOCKS */
    div.tests-head-title p {font-size: 30px; font-weight: 600;}
	div.tests-head-description p {font-size: 16px; font-weight: 400;}
    .tests-head .tests-head-inner .tests-head-description a {font-size: 20px;}
    .tests-terms .tests-terms-inner h2 {font-size: 24px;}
    .tests-terms .tests-terms-inner p {font-size: 16px;}
    .tests-contact-inner p {font-size: 18px; line-height: 1.5;}
	.tests-contact-inner .tests-contact-right span.big {font-size: 22px; font-weight: 700;}
}



/* Large */
@media(min-width:1200px) and (max-width:1360px) {
    html, body {font-size: 16px;}
    p {font-size: 16px;}
}

@media(min-width:1361px) {
    html, body {font-size: 16px;}
    p {font-size: 16px;}

}

/* Screens - added */
@media(max-width:1103px){
    
}
@media(max-width:1103px){
    
}
@media(max-width:850px){
    
}
@media(max-width:1103px){
    
}


