
math {
    display: none;
}

.ui-sortable-handle{
    touch-action: unset!important;
}

/*.traning__task{*/
    /*font-weight: bold;*/
/*}*/

/*.traning__list_row>div:first-child{*/
    /*font-weight: bold;*/
/*}*/