[data-title] {
  position: relative;
  outline: 0;
}
[data-title]::before, [data-title]::after {
  transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  -webkit-transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transform: translateX(-50%);
  bottom: calc(100% + .2em);
  bottom: -webkit-calc(100% + .2em);
  left: 50%;
  position: absolute;
  display: block;
  pointer-events: none;
}
[data-title]::before {
  margin-bottom: 0.25em;
  padding: 0.475em 0.5em;
  content: attr(data-title);
  font: 400 100% Ubuntu, serif;
  background-color: rgba(63, 63, 63, 0.9);
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  word-spacing: normal;
  font-weight: normal;
  font-style: normal;
  white-space: pre-wrap;
  max-width: 33.3vw;
  text-align: center;
  width: intrinsic;
  width: max-content;
  width: -moz-max-content;
  width: -webkit-max-content;
}
[data-title]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.35em 0.3em 0 0.3em;
  border-top-color: rgba(63, 63, 63, 0.9);
}
[data-title]:hover::after, [data-title]:hover::before {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
