.required h2 {
	display: table;
	/*width: 100%;*/
}

h2 .title-part {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	text-align: left;
}

h2 .title-part {
	font-size: 90%;
}

h2 .require {
	cursor: default;
	right: -14px;
	top: -9px;
	position: absolute;
	height: 22px;
	width: 25px;
	*zoom: 1;
	background: url(../img/icon-required.png) no-repeat 0 0;
}

h2 .require:hover {
	background-position-y: -22px;
}

h2 .require:before, h2 .require:after {
	display: table;
	content: "";
	line-height: 0;
}

h2 .require:after {
	clear: both;
}

h2 .require:before, h2 .require:after {
	display: table;
	content: "";
	line-height: 0;
}

h2 .title-part .require {
	top: -31px !important;
	left: 50%;
	margin-left: -11px;
	transform: rotate(-90deg);
}

h2 .require span {
	display: none !important;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: normal;
	position: relative;
	cursor: pointer;
	*zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.input-group-radio, .input-group-checkbox {
	display: block;
	position: relative;
}

.hidden-inputs {
	display: none;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.input-group-radio .input-group-addon, .input-group-checkbox .input-group-addon {
	display: table-cell;
	min-width: 36px;
	width: 36px;
	min-height: 32px;
	position: relative;
	background: none;
	table-layout: fixed;
}

.input-group-textarea .input-group-addon {
	background: none;
	position: relative;
	min-width: 32px;
}

.input-group-textarea textarea.form-control.paragraph {
	height: 105px;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.input-group-addon, .input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
	display: table-cell;
}

input[type=radio], input[type=checkbox] {
	margin: 4px 0 0;
	margin-top: 1px;
	line-height: normal;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

.input-group-radio .input-group-title, .input-group-checkbox .input-group-title {
	background-color: #ececec;
}

.input-group-radio .input-group-title, .input-group-checkbox .input-group-title {
	display: table-cell;
	min-height: 32px;
	text-align: left;
	padding: 5px 10px;
	font-weight: normal;
	width: 100%;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.input-group-title, .form-control, .drag, .matrix-values .input-group, .row-semantic .input-group, .row-semantic .input-group-addon, .promoter-desc {
	color: #333333;
}

.input-group-radio .input-group-addon:before, .input-group-checkbox .input-group-addon:before {
	content: "\e6fc";
	font-family: 'icomoon';
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	line-height: 29px;
	overflow: hidden;
	text-align: center;
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.input-group-textarea .input-group-addon:after {
	content: "\e603";
	font-family: 'icomoon';
	color: #333;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}

.input-group-textarea-active .input-group-addon:after {
	content: "\e6fc";
	color: #fff;
}

.input-group-radio .input-group-addon:before {
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
}

.input-group-radio input[type=radio]:checked ~ .input-group-addon:before, .input-group-radio input[type=checkbox]:checked ~ .input-group-addon:before, .input-group-checkbox input[type=radio]:checked ~ .input-group-addon:before, .input-group-checkbox input[type=checkbox]:checked ~ .input-group-addon:before {
	text-indent: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot");
	src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e603";
}

.icon-pencil2:before {
	content: "\e604";
}

.icon-location:before {
	content: "\e640";
}

.icon-clock:before {
	content: "\e646";
}

.icon-calendar:before {
	content: "\e64c";
}

.icon-expand:before {
	content: "\e680";
}

.icon-info:before {
	content: "\e6f5";
}

.icon-close:before {
	content: "\e6fb";
}

.icon-checkmark:before {
	content: "\e6fc";
}

.icon-star2:before {
	content: "\e600";
}

.icon-star:before {
	content: "\e608";
}

.icon-arrow-left:before {
	content: "\e601";
}

.icon-arrow-down:before {
	content: "\e602";
}

.icon-arrow-up:before {
	content: "\e605";
}

.icon-arrow-right:before {
	content: "\e606";
}

.icon-twitter:before {
	content: "\e609";
}

.icon-facebook:before {
	content: "\e60a";
}

.icon-googleplus:before {
	content: "\e60b";
}

.icon-linkedin:before {
	content: "\e607";
}
