@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf');
}

*,
p,
a,
button,
input {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    text-decoration: none !important;
    outline: none !important;
    position: relative;
}

body {
    min-height: 100vh;
}

.container-fluid,
.row,
.col-sm-12 {
    padding: 0;
    margin: 0;
}

top {
    display: block;
}

/*цвета*/
/*цвет placeholder*/
::-webkit-input-placeholder {
    color: #ddd;
    font-weight: 300;
}

::-moz-placeholder {
    color: #ddd;
    font-weight: 300;
}

:-moz-placeholder {
    color: #ddd;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #ddd;
    font-weight: 300;
}

/*~~~~КОМПОНЕНТЫ~~~~*/
.bcgr {
    background-position: center;
    background-repeat: no-repeat;
}

.shadow {
    -webkit-box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
    -moz-box-shadow: -30px 30px 80px -15px rgba(200, 201, 213, 0.8);
    box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
}

/*кнопки*/
.button {
    width: 80%;
    text-decoration: none;
    outline: none;
    border: 0;
    border-radius: 3px;
    background: #04be5b;
    padding: 15px 0;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    line-height: 1;
    /*кнопки с закруглениями*/
    /*белая кнопка*/
    /* кнопки входа из сторонних сервисов*/
}

.button:hover {
    background: #03a54f;
    color: #fff;
}

.button.curve {
    width: inherit;
    border-radius: 25px;
    padding: 13px 30px;
}

.button.white {
    color: #04be5b;
    font-weight: 400;
    background: #fff;
    border: 1px solid #04be5b;
}

.button.white:hover {
    background: #04be5b;
    color: #fff;
}

.button.through {
    border-radius: 0 3px 3px 0;
    padding-left: 45px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 25px !important;
}

.button.through:last-child {
    margin-bottom: 0px !important;
}

.button.through::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 45px;
    height: 100%;
    border-radius: 3px 0 0 3px;
}

.button.google::before,
.button.google:hover {
    background: #2e75ff;
}

.button.google {
    background: #4886ff;
}

.button.vk::before,
.button.vk:hover {
    background: #3d6199;
}

.button.vk {
    background: #446dab;
}

/*форма регистрации/входа*/
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 160px;
    background: #fff;
    padding: 35px 0px;
    border-radius: 3px;
    z-index: 100;

    /*формы ввода данных*/

}

.form .form__title {
    width: 80%;
    font-size: 40px;
    text-align: left !important;
    margin: 0 auto;
    margin-bottom: 25px;
}

.form .input__block, .form .select__block {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.form .select__block::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon/gray-arrow.png);
}

.form input,
.form select {
    width: calc(100% - 50px);
    text-align: left;
    line-height: 1;
    padding: 5px 0 5px 50px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: content-box;
    background: rgba(0, 0, 0, 0);
}

.form input ~ p,
.form select ~ p, .form input ~ .help-block {
    position: absolute;
    text-align: left;
}

.form label,
.form label {
    position: absolute;
    left: 0px;
    top: 0;
    width: 45px;
    height: 100%;
    border-radius: 3px 0 0 3px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
}

.form select {
    padding: 14px 0 14px 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ddd;
    background: rgba(0, 0, 0, 0);
}

.form .lose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.form .lose a:not(.button) {
    text-align: left;
    float: left;
    color: #bbb;
}

.form .lose .button {
    width: 35%;
    margin: 0;
    float: right;
}

.form .or {
    width: 80%;
    color: #bbb;
    margin: 0 auto;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.form .or::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 40%;
    height: 1px;
    border-bottom: 1px dashed #bbb;
}

.form .or::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 40%;
    height: 1px;
    border-bottom: 1px dashed #bbb;
}

.form .big {
    margin: 0 auto;
    Sbox-sizing: border-box;
    background: #03a9ff;
}

.form .big:hover {
    background: #0099e9;
}

.form .button {
    margin: 0 auto;
}

.form .form__lose {
    float: left;
    padding-top: 13px;
    color: #ccc;
}

.form .form__or {
    color: #ccc;
    color: #ccc;
    background: #fff;
}

.form .form__or::after,
.form .form__or::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 40%;
    height: 1px;
    border-bottom: 1px dashed #ccc;
}

.form .form__or::before {
    left: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
}

.modal-content div {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.modal-content div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon/gray-arrow.png);
}

.modal-content .input,
.modal-content .select {
    width: 100%;
    text-align: left;
    line-height: 1;
    padding: 12.5px 10px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.modal-content .input ~ p,
.modal-content .select ~ p {
    position: absolute;
    text-align: left;
}

.modal-content .select {
    padding: 14px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ddd;
    background: rgba(0, 0, 0, 0);
}

.modal-content .button {
    margin: 0 auto;
}

/*таблица расписания*/
.modal-content .timetable {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.modal-content .timetable::before {
    display: none;
}

.modal-content .timetable ul {
    width: 16.7%;
}

.modal-content .timetable li {
    height: 85px;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #f2f3f5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content .timetable li:last-child {

}

.modal-content .timetable li.title {
    height: inherit;
    border: none;
}

/*форма обратной связи*/
.feedback__form {
    display: flex;
    justify-content: space-around;
    background: #04be5b;
    padding: 40px 2%;
    border-radius: 35px;
    z-index: 100;
    /*цвет placeholder*/
}

.feedback__form .input__block {
    width: 25%;
}

.feedback__form .input__block::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: -10px;
    font-size: 12px;
    color: #fff;
    font-weight: 300;
}

.feedback__form .input__block:nth-child(1)::before {
    content: 'Имя';
}

.feedback__form .input__block:nth-child(2)::before {
    content: 'Телефон';
}

.feedback__form .input__block:nth-child(3)::before {
    content: 'Предметы';
}

.feedback__form .help-block {
    position: absolute;
    font-size: 80%;
}

.feedback__form input[type="checkbox"] {
    display: none;
}

.feedback__form .form-group {
    margin: 0;
}

.feedback__form input {
    width: calc(100% - 48px);
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 5px 0 5px 48px;
    text-align: left;
    color: #fff;
    box-sizing: content-box;
    box-shadow: none !important;
    outline: none !important;
}

#dropdown {

    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 5px 0 5px 48px;
    text-align: left;
    color: #fff;
    cursor: pointer;
    background-image: url(../img/icon/arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: content-box;

}

#dropdown fieldset:hover {
    background-color: #dadada;
}

#dropdown fieldset label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

#dropdown fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

#dropdown .options > fieldset:valid {
    background: #dadada;
    margin-right: 2px;
    border-radius: 2px;
    padding: 0 4px;
}

#dropdown .options > fieldset:valid label {
    text-indent: 0;
}

#dropdown .options > fieldset:not(:first-child):valid {
    height: 15px;
    font-size: 14px;
    background: #545353;
    color: #fff;
    font-family: Arial;
    cursor: pointer;
}

/* Логика */
#dropdown {
    position: relative;
    --item-height: 30px;
    --list-height: 200px;
}

#dropdown [data-value]:before {
    content: attr(data-value);
}

#dropdown input {
    opacity: 0;
    position: absolute;
}

#dropdown,
#dropdown .options fieldset {
    height: var(--item-height);
}

#dropdown .options {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    overflow: hidden;
    max-height: var(--item-height);
    transition: 0s .1s max-height;
}

#dropdown > :focus + .options {
    max-height: var(--list-height);
    overflow-y: scroll;
}

#dropdown > input:not(:focus) {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
}

#dropdown > input {
    position: relative;
}

#dropdown .options > fieldset:invalid {
    order: 2;
}

#dropdown fieldset {
    flex-basis: 100%;
}

#dropdown .options > fieldset:valid {
    flex-basis: 10%;
    z-index: 3;
}

#dropdown .options > fieldset:first-child {
    flex-basis: 0;
    padding: 0;
}

.feedback__form select {
    width: calc(100% - 48px);
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 5px 0 5px 48px;
    text-align: left;
    color: #fff;
    cursor: pointer;
    background-image: url(../img/icon/arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
    font-size: 14px;
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: content-box;
    box-shadow: none !important;
    outline: none !important;
}

.feedback__form select option {
    background: #05d767;
    font-weight: 300;
}

.feedback__form .select2.select2-container {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.feedback__form span.select2-selection {
    background: rgba(0, 0, 0, 0);
    padding-left: 40px;
    top: 7px;
    outline: none !important;
    border: 0;
    box-shadow: none !important;
}

.feedback__form li.select2-selection__choice {
    background: rgba(0, 0, 0, 0) !important;
    border: 0 !important;
    color: #fff !important;
    font-size: 14px;

}

.feedback__form span.select2-dropdown.select2-dropdown--below {
    top: 10px;
    border-color: #04be5b !important;
}

.feedback__form .select2-container--krajee. select2-results__option--highlighted[aria-selected] {
    background-color: #04be5b !important;
}

.feedback__form label {
    float: left;
    left: 0;
    top: 0;
    background-size: 40%;
    width: 40px;
    margin-right: 5px;
    margin-top: -2px;
    height: 100%;
    position: absolute;
}

.feedback__form label[for="name"] {
    background-image: url(../img/icon/user.png);
    background-position: center;
    background-repeat: no-repeat;
}

.feedback__form label[for="phone"] {
    background-image: url(../img/icon/phone.png);
    background-position: center;
    background-repeat: no-repeat;
}

.feedback__form label[for="book"], .feedback__form label[for="book2"] {
    background-image: url(../img/icon/book.png);
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 13px;
}

.feedback__form a {
    position: absolute;
    bottom: -50px;
    left: 0;
    font-size: 13px;
    color: #333;
}

.feedback__form .button {
    height: 46px;
}

.feedback__form .button:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #04be5b;
}

.feedback__form ::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.feedback__form ::-moz-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.feedback__form :-moz-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.feedback__form :-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

/*заголовок*/
p.title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 40px;
}

p.title::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #04be5b;
    bottom: 0px;
    left: calc(50% - 20px);;
    border-radius: 2px;
}

p.title span {
    font-weight: 400;
    font-size: inherit;
}

/*header*/
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header {
    display: flex;
    align-items: center;
}

header .logo {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 40px;
}

header a {
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin-left: 25px;
    padding: 20px 0;
}

header a:first-child {
    padding: 0;
    margin: 0;
}

header a.active {
    color: #04be5b !important;
}

header a:hover {
    color: #ddd !important;
}

header .button {
    font-weight: 500;
    margin-left: 40px;
}

header .button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: -20px;
    top: 0px;
    background: #f2f3f5;
    padding: 2px 0;
}

header .header-home a {
    color: #333;
}

header .header.dropdown .button {
    background-color: rgba(255, 255, 255, 0);
    color: #04be5b !important;
}

header .header.dropdown .button::before {
    display: none;
}

header .header .dropdown-menu {
    min-width: 100px !important;
    border-color: #f2f3f5;
    margin-top: 5px;
}

header .header .dropdown-menu a {
    width: 100%;
    float: left;
    margin: 5px 0;
    padding: 0;
}


/*мобильный header*/
header.mob {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    background: #fff;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
}

header.mob input[type="checkbox"] {
    position: absolute;
    z-index: 0;
    display: none;
}

header.mob input:checked ~ .header__mob {
    height: calc(100vh - 100px);;
    max-height: 500px;
    opacity: 1;
    padding: 20px 0;
    transition: 0.1s;
}

header.mob input:checked ~ label {
    background-image: url(../img/icon/burger-green.png);
}

header.mob label {
    width: 100px;
    height: 100px;
    background-image: url(../img/icon/burger.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

header.mob .header__mob {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 105px;
    left: 0;
    width: 100%;
    margin: 0;
    background: #fff;
    overflow-y: hidden;
    padding: 0;
    height: 0px;
    box-sizing: border-box;
    transition: 0.1s;
}

header.mob .header__mob a {
    margin: 0;
    font-size: 30px;
    padding: 0;
}

header.mob .header__mob a.active {
    color: #04be5b;
}

header.mob .header__mob a:hover {
    color: #737373;
}

header.mob .logo {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

header.mob .button {
    margin-left: 0px !important;
}

header.mob .button::before {
    display: none;
}

/*footer*/
footer {
    width: 100%;
    padding: 0 11.5%;
    margin: 0 auto;
    margin-top: 130px;
    z-index: 2;
    line-height: 1.8;
    box-sizing: border-box;
}

footer .feedback__form {
    z-index: 100;
    bottom: 100px;
}

footer .arc {
    height: 185px;
}

/*серая дуга footer*/
.arc {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 18vh;
    background: #f2f3f5;
    border-radius: 100% / 70%;;
}

.arc::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #f2f3f5;
    bottom: 0;
    left: 0;
}

.section {
    width: 77%;
    z-index: 2;
    line-height: 1.8;
    margin: 70px auto 30px;
}

/*~~~~СТРАНИЦЫ~~~~*/
/*home*/
.home__main {
    margin-top: 150px;
}

.home__main p {
    text-align: left;
    color: #fff;
}

.home__main .title {
    line-height: 1.0;
    margin-top: 70px;
    white-space: nowrap;
}

.home__main .title::after {
    display: none;
}

.home__main .text {
    margin-bottom: 110px;
}

.home__main .text span {
    font-size: inherit;
    background: #f2f3f5;
    padding: 3px 11px;
    border-radius: 15px;
    color: #04be5b;
}

/*.home__main .home__scroll {
  width: 32px;
  height: 55px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #04be5b;
  border-radius: 20px;
}

.home__main .home__scroll::after {
  content: '';
  position: absolute;
  top: 6px;
  left: calc(50% - 1px);;
  width: 1px;
  height: 10px;
  background: #04be5b;
  animation: scr 1s ease-out infinite alternate;
}*/
.home__main .home__scroll {
    width: 40px;
    height: 55px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: scr 1.0s ease-out infinite alternate;
}

@keyframes scr {
    from {
        top: 0px;
    }
    to {
        top: 12px;
    }
}

.home__what .text {
    margin: 0 auto;
    margin-bottom: 70px;
    width: 70%;
}

.home__background {
    position: absolute;
    width: 100%;
    height: 580px;
    max-height: 750px;
    top: 0;
    right: 0;
    background-image: url(../img/m-4.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}

.home__reason {
    display: flex;
    flex-wrap: wrap;
}

.home__reason .title {
    width: 100%;
}

.home__reason .reason {
    width: 33.333%;
    float: left;
}

.home__reason .reason div {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.home__reason .reason .icon1 {
    background-image: url(../img/home/1.png);
}

.home__reason .reason .icon2 {
    background-image: url(../img/home/2.png);
}

.home__reason .reason .icon3 {
    background-image: url(../img/home/3.png);
}

.home__reason .reason .reason__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
}

.home__reason .reason .text {
    width: 50%;
    margin: 0 auto;
}

.home__questions {
    width: 100%;
    color: #fff;
}

.home__questions .top-wave {
    width: 100%;
    height: 300px;
    background-image: url(../img/home/top-wave.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -50px;
}

.home__questions .bottom-wave {
    width: 100%;
    height: 300px;
    background-image: url(../img/home/bottom-wave.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -50px;
}

.home__questions .content {
    width: 100%;
    padding: 150px 11.5%;
    box-sizing: border-box;
    background-image: url(../img/home/wave.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.home__questions .title::after {
    background: #fff;
}

.home__questions .footer {
    width: 550px;
    margin: 0 auto;
    text-align: right;
}

.home__questions .footer a {
    color: #03a9ff;
}

.home__questions .footer a:hover {
    color: #0099e9;
}

.home__questions .home__accordion {
    z-index: 100;
}

.home__questions .home__accordion div {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home__questions .home__accordion input[type="checkbox"] {
    display: none;
}

.home__questions .home__accordion input[type="checkbox"]:checked + label {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px 3px 0 0;
}

.home__questions .home__accordion input[type="checkbox"]:not(:checked) ~ article {
    height: 0 !important;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.home__questions .home__accordion label {
    display: inline-block;
    width: 100%;
    border: 1px solid #fff;
    padding: 7px;
    padding-left: 50px;
    border-radius: 3px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 !important;
}

.home__questions .home__accordion label::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
}

.home__questions .home__accordion label[for="ac-1"]::before {
    background-image: url(../img/icon/user.png);
}

.home__questions .home__accordion label[for="ac-2"]::before {
    background-image: url(../img/icon/user.png);
}

.home__questions .home__accordion label[for="ac-3"]::before {
    background-image: url(../img/icon/user.png);
}

.home__questions .home__accordion label[for="ac-4"]::before {
    background-image: url(../img/icon/user.png);
}

.home__questions .home__accordion label[for="ac-5"]::before {
    background-image: url(../img/icon/user.png);
}

.home__questions .home__accordion label[for="ac-6"]::before {
    background-image: url(../img/icon/user.png);
}

.home__questions .home__accordion label::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon/arrow.png);
}

.home__questions .home__accordion article {
    width: 100%;
    height: initial;
    font-size: 14px;
    padding: 10px;
    border: 1px solid;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    margin: 0 !important;
}

.home__questions .home__accordion article p {
    text-align: left;
    line-height: 1.4;
}

.home__reviews {
    width: 100%;
}

.home__reviews .reviews {
    width: 550px;
    margin: 0 auto;
    z-index: 100;

}

/*.home__reviews .reviews::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
  background: #ffffff;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}*/
.home__reviews .reviews .posts {
    max-height: 450px;
}

.home__reviews .reviews .posts .text {
    margin-bottom: 20px;
}

.home__reviews .reviews .user {
    min-width: 250px;
    display: inline-block;
}

.home__reviews .reviews .user .photo {
    float: left;
    height: 50px;
    width: 50px;
    background: #f2f3f5;
    margin-right: 15px;
    border-radius: 50%;
}

.home__reviews .reviews .user img {
    width: 55px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.home__reviews .reviews .user p {
    float: left;
    width: calc(100% - 65px);;
    text-align: left;
    font-size: 15px;
    line-height: 1.4;
    top: 7px;

}

.home__reviews .reviews .user p.rank {
    font-size: 13px;

}

.home__reviews .photos.left {
    position: absolute;
    width: 18%;
    left: 0;
    top: -20%;
    height: 160%;
    overflow-x: hidden;
}

.home__reviews .photos.left .photo {
    position: absolute;
    border-radius: 50%;
    background: #f2f3f5;
    -webkit-box-shadow: -20px 20px 100px -15px #c8c9cb;
    -moz-box-shadow: -20px 20px 100px -15px #c8c9cb;
    box-shadow: -20px 20px 100px -15px #c8c9cb;
}

.home__reviews .photos.left .p1 {
    right: 50%;
    top: 0px;
    width: 100px;
    height: 100px;
}

.home__reviews .photos.left .p2 {
    right: 20%;
    top: 150px;
    width: 70px;
    height: 70px;
}

.home__reviews .photos.left .p3 {
    right: 75%;
    top: 200px;
    width: 100px;
    height: 100px;
}

.home__reviews .photos.left .p4 {
    right: 40%;
    top: 340px;
    width: 60px;
    height: 60px;
}

.home__reviews .photos.left .p5 {
    right: 80%;
    top: 400px;
    width: 80px;
    height: 80px;
}

.home__reviews .photos.left .p6 {
    right: 25%;
    top: 500px;
    width: 60px;
    height: 60px;
}

.home__reviews .photos.left .p7 {
    right: 70%;
    top: 555px;
    width: 80px;
    height: 80px;
}

.home__reviews .photos.right {
    position: absolute;
    width: 18%;
    right: 0;
    top: -25%;
    height: 160%;
    overflow-x: hidden;
}

.home__reviews .photos.right .photo {
    position: absolute;
    border-radius: 50%;
    background: #eee;
    -webkit-box-shadow: -20px 20px 100px -15px #c8c9cb;
    -moz-box-shadow: -20px 20px 100px -15px #c8c9cb;
    box-shadow: -20px 20px 100px -15px #c8c9cb;
}

.home__reviews .photos.right .p1 {
    left: 75%;
    top: 0px;
    width: 100px;
    height: 100px;
}

.home__reviews .photos.right .p2 {
    left: 60%;
    top: 150px;
    width: 80px;
    height: 80px;
}

.home__reviews .photos.right .p3 {
    left: 15%;
    top: 240px;
    width: 70px;
    height: 70px;
}

.home__reviews .photos.right .p4 {
    left: 60%;
    top: 325px;
    width: 50px;
    height: 50px;
}

.home__reviews .photos.right .p5 {
    left: 25%;
    top: 400px;
    width: 80px;
    height: 80px;
}

.home__reviews .photos.right .p6 {
    left: 70%;
    top: 480px;
    width: 60px;
    height: 60px;
}

.home__reviews .photos.right .p7 {
    left: 25%;
    top: 550px;
    width: 80px;
    height: 80px;
}

/*teachers and contacts*/
.subjects .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.subjects .content a {
    width: 32%;
}

.subjects .content .subject {
    width: 100%;
    border: 1px solid #04be5b;
    border-radius: 10px;
    padding: 60px 0;
    background: #fafafa;
    z-index: 3;
    transition: 0.1s;
    margin-bottom: 25px;
}

.subjects .content .subject:hover {
    -webkit-box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
    -moz-box-shadow: -30px 30px 80px -15px rgba(200, 201, 213, 0.8);
    box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
    z-index: 2;
    transition: 0.1s;
}

.subjects .content .subject:hover .button {
    display: block;
}

.subjects .content .subject .photo {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

.subjects .content .subject .photo.math {
    background-image: url(../img/teachers/math.png);
}

.subjects .content .subject .photo.chemical {
    background-image: url(../img/teachers/chemical.png);
}

.subjects .content .subject .photo.physics {
    background-image: url(../img/teachers/physics.png);
}

.subjects .content .subject .photo.russian {
    background-image: url(../img/teachers/russian.png);
}

.subjects .content .subject .photo.literature {
    background-image: url(../img/teachers/literature.png);
}

.subjects .content .subject .photo.history {
    background-image: url(../img/teachers/history.png);
}

.subjects .content .subject .photo.goverment {
    background-image: url(../img/teachers/goverment.png);
}

.subjects .content .subject .photo.english {
    background-image: url(../img/teachers/english.png);
}

.subjects .content .subject img {
    height: 100px;
    margin-bottom: 15px;
}

.subjects .content .subject .name {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.subjects .content .subject .button {
    width: 170px;
    position: absolute;
    bottom: -19px;
    left: calc(50% - 85px);;
    display: none;
}

.map {
    padding: 40px 50px 20px 50px;
    border: 1px solid #f2f3f5;
    border-radius: 5px;
    box-sizing: border-box;
}

.map p {
    text-align: left;
}

.map p span {
    font-size: inherit;
    font-weight: 500;
}

.map p.addres {
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
}

.peoples .content {
    display: flex;
    justify-content: space-between;
}

.peoples .content .block {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.peoples .content .block .photo {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f2f3f5;
    -webkit-box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
    -moz-box-shadow: -30px 30px 80px -15px rgba(200, 201, 213, 0.8);
    box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
}

.peoples .content .block .name {
    font-size: 28px;
    font-weight: 400;
}

.peoples .content .block .text {
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
}

.peoples .content .block .contact {
    margin: 0 auto;
    color: #999;
    line-height: 1;
    margin-top: 15px;
}

.peoples .content .block .contact::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    left: -20px;
    top: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.peoples .content .block .contact.phone::before {
    background-image: url(../img/icon/gray-phone.png);
}

.peoples .content .block .contact.mail::before {
    background-image: url(../img/icon/gray-mail.png);
}

/*pricing*/
.pricing .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pricing .content .block {
    width: 24%;
    background: #fff;
    border: 1px solid #f2f3f5;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: 0.2s;
}

.pricing .content .block:hover {
    border-color: #fff;
    margin-bottom: 0px;
    -webkit-box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
    -moz-box-shadow: -30px 30px 80px -15px rgba(200, 201, 213, 0.8);
    box-shadow: -30px 30px 80px -15px rgba(200, 201, 203, 0.8);
    transition: 0.2s;
}

.pricing .content .block:hover .photo {
    height: 300px;
    transition: 0.2s;
}

.pricing .content .block .photo {
    width: 100%;
    height: 250px;
    margin: 25px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pricing .content .block .photo.kid-1-4 {
    background-image: url(../img/pricing/kid1.jpg);
}

.pricing .content .block .photo.kid-5-8 {
    background-image: url(../img/pricing/kid2.jpg);
}

.pricing .content .block .photo.kid-9-10 {
    background-image: url(../img/pricing/kid3.jpg);
}

.pricing .content .block .photo.kid-11 {
    background-image: url(../img/pricing/kid4.jpg);
}

.pricing .content .block .photo.property-1-4-class {
    background-image: url(../img/pricing/kid1.jpg);
}

.pricing .content .block .photo.property-5-8-class {
    background-image: url(../img/pricing/kid2.jpg);
}

.pricing .content .block .photo.property-9-class {
    background-image: url(../img/pricing/kid3.jpg);
}

.pricing .content .block .photo.property-10-11-class {
    background-image: url(../img/pricing/kid4.jpg);
}

.pricing .content .block .class {
    color: #222;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

.pricing .content .block .form {
    width: 100%;
    padding: 30px 25px;
    background: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 0 auto;
}

.pricing .content .block .form div {
    width: 100%;
    margin: 0;
}

.pricing .content .block .form .select {
    width: 100%;
    margin: 0;
    padding: 14px 10px !important;
}

.pricing .content .block .form a:not(.button) {
    color: #333;
    font-weight: 400;
}

.pricing .content .block .form .coast {
    color: #04be5b;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
}

.pricing .content .block .form .coast span {
    font-size: 16px;
    font-weight: 500;
}

.pricing .content .block .form .button {
    float: none;
    padding: 15px 0;
}

.pricing .content .block .form label {
    position: relative;
    width: 100%;
    border: 0;

}

.pricing .content .block .form .text {
    font-weight: 500;
    font-size: 20px;
}

.pricing .content .block .form .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    right: 0;
    top: 0;
    height: 0;
    padding: 0 15px;
    overflow-y: hidden;
    background: #fff;
    border-color: #fff;
    transition: 0.2s;
}

.pricing .content .block .form input[type=checkbox] {
    display: none;
}

.pricing .content .block .form input[type=checkbox]:checked + label .description {
    height: initial;
    border: 1px solid #f2f3f5;
    border-radius: 10px;
    padding: 15px;
    transition: 0.2s;
    z-index: 3;
}


/*login/registration*/
.auth {
    width: 100%;
    min-height: 750px;
    background-image: url(../img/login_background.png);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
}

.auth.reg {
    background-image: url(../img/reg_background.png) !important;
}

.auth .form label {
    background-size: 30%;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.auth .form label[for="first_name"], .auth .form label[for="last_name"] {
    background-image: url(../img/icon/gray-user.png) !important;
}

.auth .form label[for="email"] {
    background-image: url(../img/icon/gray-mail2.png) !important;
}

.auth .form label[for="password"] {
    background-image: url(../img/icon/gray-pass.png) !important;
}

.auth .form label[for="passwordConfirm"] {
    background-image: url(../img/icon/gray-pass.png) !important;
}

.auth .form label[for="select"] {
    background-image: url(../img/icon/gray-book.png) !important;
}

/*фотографии*/
.home__reviews {
    /*отзывы*/
    /*вокруг отзывов*/
}

.home__reviews .reviews .user .photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home__reviews .reviews #user-1 .photo {
    background-image: url(../img/home/user1.jpg);
}

.home__reviews .reviews #user-2 .photo {
    background-image: url(../img/home/user2.jpg);
}

.home__reviews .reviews #user-3 .photo {
    background-image: url(../img/home/user3.jpg);
}

.home__reviews .reviews #user-4 .photo {
    background-image: url(../img/home/user4.jpg);
}

.home__reviews .reviews #user-5 .photo {
    background-image: url(../img/home/user5.jpg);
}

.home__reviews .reviews #user-6 .photo {
    background-image: url(../img/home/user6.jpg);
}

.home__reviews .reviews #user-7 .photo {
    background-image: url(../img/home/user7.jpg);
}

.home__reviews .photos.left .photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home__reviews .photos.left .p1 {
    background-image: url(../img/home/user2.png);
}

.home__reviews .photos.left .p2 {
    background-image: url(../img/home/user3.png);
}

.home__reviews .photos.left .p3 {
    background-image: url(../img/home/user1.png);
}

.home__reviews .photos.left .p4 {
    background-image: url(../img/home/user2.png);
}

.home__reviews .photos.left .p5 {
    background-image: url(../img/home/user3.png);
}

.home__reviews .photos.left .p6 {
    background-image: url(../img/home/user1.png);
}

.home__reviews .photos.left .p7 {
    background-image: url(../img/home/user2.png);
}

.home__reviews .photos.right .photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home__reviews .photos.right .p1 {
    background-image: url(../img/home/user1.png);
}

.home__reviews .photos.right .p2 {
    background-image: url(../img/home/user2.png);
}

.home__reviews .photos.right .p3 {
    background-image: url(../img/home/user3.png);
}

.home__reviews .photos.right .p4 {
    background-image: url(../img/home/user1.png);
}

.home__reviews .photos.right .p5 {
    background-image: url(../img/home/user2.png);
}

.home__reviews .photos.right .p6 {
    background-image: url(../img/home/user3.png);
}

.home__reviews .photos.right .p7 {
    background-image: url(../img/home/user1.png);
}

.peoples .photo {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.peoples .teacher__photo1 {
    background-image: url(../img/teachers/teacher1.png) !important;
    background-size: cover;
}

.peoples .teacher__photo2 {
    background-image: url(../img/teachers/teacher2.png) !important;
    background-size: cover;
}

.peoples .teacher__photo3 {
    background-image: url(../img/teachers/teacher3.png) !important;
    background-size: cover;
}

.peoples .teacher__photo4 {
    background-image: url(../img/teachers/teacher4.png) !important;
    background-size: cover;
}

.peoples .teacher__photo5 {
    background-image: url(../img/teachers/teacher5.png) !important;
    background-size: cover;
}

.peoples #contact-1 .photo {
    background-image: url(../img/contacts/contact1.png) !important;
    background-size: cover;
}

.peoples #contact-2 .photo {
    background-image: url(../img/contacts/contact2.png) !important;
    background-size: cover;
}

.peoples #contact-3 .photo {
    background-image: url(../img/contacts/contact3.png) !important;
    background-size: cover;
}

.peoples #contact-4 .photo {
    background-image: url(../img/contacts/contact4.png) !important;
    background-size: cover;
}

.peoples #contact-5 .photo {
    background-image: url(../img/contacts/contact5.png) !important;
    background-size: cover;
}

/*всплывающее окно после регистрации*/
.container {
    margin: 80px 0 0 0;
    z-index: 100;
    position: absolute;
}

.about {
    margin-top: 100px;
}

.anchors {
    position: fixed;
    z-index: 2;

}

.about h3, .about p {
    text-align: left;
}

.about__block {
    line-height: 1.8;
    padding: 0 150px 0 60px;
}

.anchors li {
    text-align: left;
    margin-bottom: 10px;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11 {
    top: -70px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 120px 0 0 0;
    }

    *,
    p,
    a,
    button,
    input {
        font-size: 34px;
    }

    body {
        justify-content: space-between;
    }

    body p {
        text-align: center !important;
    }

    p.title {
        font-size: 70px;
    }

    header:not(.mob) {
        display: none;
    }

    header.mob {
        display: flex;
    }

    header.mob .button {
        width: auto;
        font-size: 48px;
        padding: 15px 50px !important;
        border-radius: 40px !important;
        max-height: none;
    }

    .feedback__form {
        flex-direction: column;
        align-items: center;
        /*цвет placeholder*/
    }

    .feedback__form .button {
        font-size: 48px;
        padding: 15px 50px !important;
        border-radius: 40px !important;
        max-height: none;
    }

    .feedback__form .input__block {
        width: 100%;
        margin: 50px 0;
    }

    .feedback__form .input__block::before {
        font-size: 22px;
        margin-top: -22px;
    }

    .feedback__form select, .feedback__form input {
        font-size: 34px;
        box-sizing: content-box !important;
        padding: 5px 0 5px 60px;
        height: 70px;
    }

    .feedback__form select {
        background-size: 7%;
    }

    .feedback__form label {
        width: 50px;
        margin: 0;
        background-size: 50%;
    }

    .feedback__form .button {
        margin-top: 20px;
    }

    .feedback__form a {
        font-size: 25px;
    }

    .feedback__form ::-webkit-input-placeholder {
        color: #fff;
        font-size: 34px;
        font-weight: 300;
    }

    .feedback__form ::-moz-placeholder {
        color: #fff;
        font-size: 34px;
        font-weight: 300;
    }

    .feedback__form :-moz-placeholder {
        color: #fff;
        font-size: 34px;
        font-weight: 300;
    }

    .feedback__form :-ms-input-placeholder {
        color: #fff;
        font-size: 34px;
        font-weight: 300;
    }

    .home__background {
        top: 110px;
        background-image: url(../img/home/home.png);
        display: none;
    }

    .home__main p {
        color: #333;
    }

    .home__pricing {
        margin-top: 0 !important;
    }

    .home__pricing .content {
        flex-wrap: wrap;
    }

    .home__pricing .block {
        width: 49% !important;
    }

    .home__main .text {
        margin-bottom: 110px;
    }

    .home__what .text {
        width: 100%;
    }

    .home__what .button {
        font-size: 48px;
        padding: 15px 50px !important;
        border-radius: 40px !important;
        max-height: none;
    }

    .home__reason .reason .text {
        width: 80%;
        margin: 0 10%;
    }

    .home__reason .reason__title {
        font-size: 38px !important;
    }

    .home__questions .content {
        padding: 200px 0;
    }

    .home__questions .home__accordion div {
        width: 90%;
    }

    .home__questions .home__accordion div label {
        font-size: 38px;
    }

    .home__questions .home__accordion div article p {
        text-align: left !important;
    }

    .home__questions a {
        font-size: inherit;
    }

    .home__reviews {
        width: 100% !important;
    }

    .home__reviews .user p {
        line-height: 1.4 !important;
        text-align: left !important;
        font-size: 30px !important;
        width: calc(100% - 100px) !important;
    }

    .home__reviews .user .rank {
        font-size: 26px !important;
    }

    .home__reviews .reviews .user .photo {
        height: 80px !important;
        width: 80px !important;
    }

    .pricing .form div::before {
        display: none;
    }

    .auth {
        min-height: 770px;
    }

    .auth .button, .auth .input__block,
    .auth .or,
    .auth .form__title {
        width: 90%;
    }

    .auth label {
        background-size: 35% !important;
    }

    .auth .form {
        width: 80%;
        max-width: 650px;
    }

    .auth .form .form__title {
        font-size: 70px;
    }

    .auth .form .input__block {
        margin-bottom: 55px;
    }

    .auth .form label {
        width: 70px;
    }

    .auth .form input {
        padding: 20px 0 20px 75px;
        width: calc(100% - 75px);
        font-size: 34px;
    }

    .auth .form select {
        padding: 16px 0 16px 75px;
        width: calc(100% - 75px);
        font-size: 34px;
    }

    .auth .help-block {
        font-size: 30px;
    }

    .auth .form .button {
        padding: 25px 0;
    }

    .section:not(.home__questions) {
        width: 95%;
    }

    .section:not(.home__questions).home__main,
    .section:not(.home__questions).pricing,
    .section:not(.home__questions).subjects,
    .section:not(.home__questions).map {
        margin-top: 170px;
    }

    .subjects .subject {
        margin-bottom: 75px !important;
    }

    .subjects .subject .button {
        width: 80% !important;
        left: calc(50% - 40%) !important;
        box-sizing: border-box;
        bottom: -50px !important;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
    }

    .contacts .block {
        margin: 0 auto;
        width: 100% !important;
        margin-bottom: 35px;
    }

    .contacts .block .name {
        font-size: 50px !important;
    }

    .contacts .block p {
        width: auto !important;
    }

    .through {
        padding-left: 75px !important;
    }

    .through::before {
        width: 75px !important;
    }

    .modal-table {
        width: 98%;
    }

    .modal-table p:not(.title), .modal-table li {
        font-size: 16px !important;
    }

    footer {
        padding: 0 2.5%;
    }

    footer .arc {
        height: 400px;
    }
}
